<div class="register-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a routerLink="/" class="link-dark">
        <h1 class="mb-0"><b>Admin</b>LTE</h1>
      </a>
    </div>
    <div class="card-body register-card-body">
      <p class="register-box-msg">{{ 'ACCOUNT.REGISTER.SUBTITLE' | translate }}</p>

      <form [formGroup]="form" (ngSubmit)="register()" novalidate>
        <div class="input-group mb-1">
          <div class="form-floating">
            <input
              formControlName="firstName"
              type="text"
              [placeholder]="'ACCOUNT.REGISTER.FIRST_NAME' | translate"
              class="form-control"
              [class.is-invalid]="isInvalid('firstName')"
            />
            <label for="firstName">{{ 'ACCOUNT.REGISTER.FIRST_NAME' | translate }}</label>
            @if (inputHasError("firstName", "required")) {
              <span class="text-danger">{{
                'ACCOUNT.REGISTER.FIRST_NAME_REQUIRED' | translate
              }}</span>
            }
            @if (
              inputHasError("firstName", "minlength") ||
              inputHasError("firstName", "maxlength")
            ) {
              <span class="text-danger">{{
                'ACCOUNT.REGISTER.FIRST_NAME_LENGTH' | translate
              }}</span>
            }
          </div>
          <div class="input-group-text"><i class="bi bi-person"></i></div>
        </div>

        <div class="input-group mb-1">
          <div class="form-floating">
            <input
              formControlName="lastName"
              type="text"
              [placeholder]="'ACCOUNT.REGISTER.LAST_NAME' | translate"
              class="form-control"
              [class.is-invalid]="isInvalid('lastName')"
            />
            <label for="lastName">{{ 'ACCOUNT.REGISTER.LAST_NAME' | translate }}</label>
            @if (inputHasError("lastName", "required")) {
              <span class="text-danger">{{
                'ACCOUNT.REGISTER.LAST_NAME_REQUIRED' | translate
              }}</span>
            }
            @if (
              inputHasError("lastName", "minlength") ||
              inputHasError("lastName", "maxlength")
            ) {
              <span class="text-danger">{{
                'ACCOUNT.REGISTER.LAST_NAME_LENGTH' | translate
              }}</span>
            }
          </div>
          <div class="input-group-text"><i class="bi bi-person"></i></div>
        </div>

        <div class="input-group mb-1">
          <div class="form-floating">
            <input
              formControlName="email"
              type="text"
              [placeholder]="'ACCOUNT.REGISTER.EMAIL' | translate"
              class="form-control"
              [class.is-invalid]="isInvalid('email')"
            />
            <label for="email">{{ 'ACCOUNT.REGISTER.EMAIL' | translate }}</label>
            @if (inputHasError("email", "required")) {
              <span class="text-danger">{{
                'ACCOUNT.REGISTER.EMAIL_REQUIRED' | translate
              }}</span>
            }
            @if (inputHasError("email", "pattern")) {
              <span class="text-danger">{{
                'ACCOUNT.REGISTER.EMAIL_INVALID' | translate
              }}</span>
            }
          </div>
          <div class="input-group-text"><i class="bi bi-envelope"></i></div>
        </div>

        <div class="input-group mb-1">
          <div class="form-floating">
            <input
              formControlName="password"
              type="password"
              [placeholder]="'ACCOUNT.REGISTER.PASSWORD' | translate"
              class="form-control"
              [class.is-invalid]="isInvalid('password')"
            />
            <label for="password">{{ 'ACCOUNT.REGISTER.PASSWORD' | translate }}</label>
            @if (inputHasError("password", "required")) {
              <span class="text-danger">{{
                'ACCOUNT.REGISTER.PASSWORD_REQUIRED' | translate
              }}</span>
            }
            @if (
              inputHasError("password", "minlength") ||
              inputHasError("password", "maxlength")
            ) {
              <span class="text-danger">{{
                'ACCOUNT.REGISTER.PASSWORD_LENGTH' | translate
              }}</span>
            }
          </div>
          <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
        </div>

        @if (errorMessages) {
          <div class="form-floating">
            <app-validation-messages
              [errorMessages]="errorMessages"
            ></app-validation-messages>
          </div>
        }

        <div class="row">
          <div class="col-8 d-inline-flex align-items-center">
            <div class="form-check" hidden>
              <input
                class="form-check-input"
                type="checkbox"
                id="agree"
                formControlName="agree"
              />
              <label class="form-check-label" for="agree">
                {{ 'ACCOUNT.REGISTER.AGREE_TERMS' | translate }}
                <a href="#">{{ 'ACCOUNT.REGISTER.TERMS' | translate }}</a>
              </label>
            </div>
          </div>
          <div class="col-4">
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                {{ 'ACCOUNT.REGISTER.SUBMIT' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>

      <p class="mb-0">
        <a routerLink="/account/login" class="link-primary">
          {{ 'ACCOUNT.REGISTER.HAVE_ACCOUNT' | translate }}
        </a>
      </p>
    </div>
  </div>
</div>
