<!--begin::App Wrapper-->
<div [ngClass]="(isLoggedIn$ | async) ? 'app-wrapper' : 'login-box'">
  @if (isLoggedIn$ | async) {
    <!--begin::Header-->
    <app-navbar class="app-header main-header"></app-navbar>
    <!--end::Header-->
    <!--begin::Sidebar-->
    <app-sidebar
      class="app-sidebar main-sidebar bg-body-secondary shadow elevation-4"
      data-bs-theme="dark"
    ></app-sidebar>
  }
  <!--end::Sidebar-->
  <!--begin::App Main-->
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>
  <!--end::App Main-->
  @if (isLoggedIn$ | async) {
    <!--begin::Footer-->
    <app-footer class="app-footer"></app-footer>
  }
  <!--end::Footer-->
</div>
<!--end::App Wrapper-->
