<div class="transaction-form-wrapper">
  <h5 class="mt-3 mb-2">Dados da Transação</h5>
  @if (isEdit && data?.status) {
    <app-alert-banner-component
      [status]="data?.status"
      [entity]="'Transação'"
    ></app-alert-banner-component>
  }
  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- First line: Type and Method -->
    <div class="modal-scrollable-area">
      <div class="row g-1 mb-1">
        <!-- Second line: businessPartnerId and orderId -->
        @if (!compact) {
          <div class="col-12 col-md-4">
            <div class="input-group">
              <div class="form-floating flex-fill">
                <app-link-field
                  [placeHolder]="'Número do Pedido'"
                  [text]="form.get('orderNumber')?.value || 'N/A'"
                  [linkUrl]="
                    form.get('orderId')?.value != null
                      ? ['/orders', form.get('orderId')?.value]
                      : []
                  "
                >
                </app-link-field>
              </div>
              <div class="input-group-text"><i class="bi bi-hash"></i></div>
            </div>
          </div>

          <div class="col-12 col-md-8">
            <div class="input-group">
              <div class="form-floating flex-fill">
                @if (!isEdit) {
                  <input
                    formControlName="businessPartnerName"
                    type="text"
                    [placeholder]="
                      form.get('type')?.value == 'Incoming'
                        ? 'Cliente'
                        : 'Fornecedor'
                    "
                    class="form-control"
                    id="businessPartnerName"
                    [matAutocomplete]="clientAuto"
                    (blur)="onClientBlur()"
                  />
                  <label for="businessPartnerName">{{
                    form.get("type")?.value == "Incoming"
                      ? "Cliente"
                      : "Fornecedor"
                  }}</label>
                  <mat-autocomplete
                    #clientAuto="matAutocomplete"
                    (optionSelected)="
                      form
                        .get('businessPartnerId')
                        ?.setValue($event.option.value.id)
                    "
                  >
                    <mat-option
                      *ngFor="
                        let businessPartner of filteredBusinessPartners$ | async
                      "
                      [value]="businessPartner.name"
                    >
                      {{ businessPartner.name }}
                    </mat-option>
                  </mat-autocomplete>
                } @else {
                  <app-link-field
                    [placeHolder]="
                      form.get('type')?.value == 'Incoming'
                        ? 'Cliente'
                        : 'Fornecedor'
                    "
                    [text]="
                      form.get('businessPartnerName')?.value ||
                      (form.get('type')?.value == 'Incoming'
                        ? 'Cliente'
                        : 'Fornecedor')
                    "
                    [linkUrl]="
                      form.get('businessPartnerId')?.value != null
                        ? form.get('type')?.value == 'Incoming'
                          ? [`/clients/${form.get('businessPartnerId')?.value}`]
                          : [
                              `/suppliers/${form.get('businessPartnerId')?.value}`,
                            ]
                        : []
                    "
                  >
                  </app-link-field>
                }
              </div>
              <div class="input-group-text"><i class="bi bi-person"></i></div>
            </div>
          </div>
        }

        <div *ngIf="!compact" class="col-12">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="description"
                type="text"
                [placeholder]="'COMMON.DESCRIPTION' | translate"
                class="form-control"
                id="description"
              />
              <label for="description">{{ 'COMMON.DESCRIPTION' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi-card-text"></i></div>
          </div>
        </div>

        <div class="col-6">
          <app-date-field
            formControlName="date"
            [label]="'Data'"
          ></app-date-field>
        </div>

        @if (!compact && !isEdit) {
          <div class="col-12 col-md-6">
            <div class="input-group">
              <div class="form-floating flex-fill select-floating">
                <select
                  formControlName="type"
                  class="form-select"
                  id="type"
                  [class.is-invalid]="isInvalid('type')"
                  [class.is-valid]="isValid('type')"
                  (blur)="onTypeChanges()"
                >
                  <option value="" disabled selected>{{ 'COMMON.TYPE' | translate }}</option>
                  @for (option of typeOptions; track option) {
                    <option [value]="option.value">{{ option.label }}</option>
                  }
                </select>
                <label for="type">{{ 'COMMON.TYPE' | translate }}</label>
              </div>
              <div class="input-group-text">
                <i class="bi bi-credit-card-2-front"></i>
              </div>
            </div>
          </div>
        }

        <div class="col-6">
          <div class="input-group">
            <div class="form-floating flex-fill select-floating">
              <select
                formControlName="status"
                class="form-select"
                id="status"
                [class.is-invalid]="isInvalid('status')"
                [class.is-valid]="isValid('status')"
              >
                <option value="" disabled selected>{{ 'COMMON.STATUS' | translate }}</option>
                @for (option of statusOptions; track option) {
                  <option [value]="option.value">{{ option.label }}</option>
                }
              </select>
              <label for="status">{{ 'COMMON.STATUS' | translate }}</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-info-circle"></i>
            </div>
          </div>
        </div>

        @if (!compact && !isEdit) {
          <div class="col-6">
            <div class="input-group">
              <div class="form-floating flex-fill select-floating">
                <select
                  formControlName="category"
                  class="form-select"
                  id="category"
                  [class.is-invalid]="isInvalid('category')"
                  [class.is-valid]="isValid('category')"
                >
                  <option value="" disabled selected>{{ 'VEHICLES.CATEGORY' | translate }}</option>
                  @for (option of categoryOptions; track option) {
                    <option [value]="option.value">{{ option.label }}</option>
                  }
                </select>
                <label for="category">{{ 'VEHICLES.CATEGORY' | translate }}</label>
              </div>
              <div class="input-group-text"><i class="bi bi-tags"></i></div>
            </div>
          </div>
        }

        <h5 class="mt-3 mb-2">{{ 'TRANSACTIONS.PAYMENT_DATA' | translate }}</h5>
        @if (missingPayments()) {
          <app-alert-banner-component
            [status]="'MissingPayments'"
            [entity]="'Pagamentos'"
          ></app-alert-banner-component>
        }

        @if (!isEdit) {
          <div class="col-6">
            <div class="input-group">
              <div class="form-floating flex-fill select-floating">
                <select
                  formControlName="condition"
                  class="form-select"
                  id="condition"
                  [class.is-invalid]="isInvalid('condition')"
                  [class.is-valid]="isValid('condition')"
                >
                  <option value="" disabled selected>{{ 'TRANSACTIONS.CONDITION' | translate }}</option>
                  @for (option of conditionOptions; track option) {
                    <option [value]="option.value">{{ option.label }}</option>
                  }
                </select>
                <label for="condition">{{ 'TRANSACTIONS.CONDITION' | translate }}</label>
              </div>
              <div class="input-group-text">
                <i class="bi bi-calendar2-week"></i>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <div class="form-floating flex-fill select-floating">
                <select
                  formControlName="method"
                  class="form-select"
                  id="method"
                  [class.is-invalid]="isInvalid('method')"
                  [class.is-valid]="isValid('method')"
                >
                  <option value="" disabled selected>{{ 'TRANSACTIONS.METHOD' | translate }}</option>
                  @for (option of methodOptions; track option) {
                    <option [value]="option.value">{{ option.label }}</option>
                  }
                </select>
                <label for="method">{{ 'TRANSACTIONS.METHOD' | translate }}</label>
              </div>
              <div class="input-group-text">
                <i class="bi bi-credit-card"></i>
              </div>
            </div>
          </div>
        }

        <div class="col-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="totalOfPayments"
                type="number"
                min="1"
                step="1"
                [placeholder]="'TRANSACTIONS.TOTAL_OF_PAYMENTS' | translate"
                class="form-control"
                id="totalOfPayments"
                [class.is-invalid]="isInvalid('totalOfPayments')"
                [class.is-valid]="isValid('totalOfPayments')"
              />
              <label for="totalOfPayments">{{ 'TRANSACTIONS.TOTAL_OF_PAYMENTS' | translate }}</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-list-ol"></i>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="input-group">
            <div class="form-floating flex-grow-1">
              <input
                formControlName="paymentTotalPriceFormatted"
                type="text"
                [placeholder]="'TRANSACTIONS.PAYMENT_TOTAL_PRICE' | translate"
                class="form-control"
                [class.is-invalid]="isInvalid('paymentTotalPriceFormatted')"
                [class.is-valid]="isValid('paymentTotalPriceFormatted')"
                (blur)="onCurrencyBlur('paymentTotalPrice')"
              />
              <label for="paymentTotalPrice">{{ 'TRANSACTIONS.PAYMENT_TOTAL_PRICE' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi-cash-coin"></i></div>
          </div>
        </div>

        <div class="col-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="totalOfExpenses"
                type="number"
                min="0"
                step="1"
                [placeholder]="'TRANSACTIONS.TOTAL_OF_EXPENSES' | translate"
                class="form-control"
                id="totalOfExpenses"
                [class.is-invalid]="isInvalid('totalOfExpenses')"
                [class.is-valid]="isValid('totalOfExpenses')"
              />
              <label for="totalOfExpenses">{{ 'TRANSACTIONS.TOTAL_OF_EXPENSES' | translate }}</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-list-ol"></i>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="input-group">
            <div class="form-floating flex-grow-1">
              <input
                formControlName="expenseTotalPriceFormatted"
                type="text"
                [placeholder]="'TRANSACTIONS.EXPENSE_TOTAL_PRICE' | translate"
                class="form-control"
                [class.is-invalid]="isInvalid('expenseTotalPriceFormatted')"
                [class.is-valid]="isValid('expenseTotalPriceFormatted')"
                (blur)="onCurrencyBlur('expenseTotalPrice')"
              />
              <label for="expenseTotalPrice">{{ 'TRANSACTIONS.EXPENSE_TOTAL_PRICE' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi-cash"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!compact" class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-secondary me-2" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
      @if (isEdit) {
        <button (click)="remove()" type="button" class="btn btn-danger me-2">{{ 'COMMON.REMOVE' | translate }}</button>
      }
      <button
        [appClick]="submit.bind(this)"
        type="submit"
        class="btn btn-success"
      >
        {{ (isEdit ? 'COMMON.SAVE' : 'COMMON.ADD') | translate }}
      </button>
    </div>
  </form>
</div>
