<app-header
  *ngIf="!compact"
  [title]="'SIDEBAR.ORCAMENTOS' | translate"
  [navigationMenus]="[
    { label: 'COMMON.HOME' | translate, link: '/home' },
    { label: 'SIDEBAR.ORCAMENTOS' | translate, link: '' },
  ]"
></app-header>

<div class="app-content">
  <div class="d-flex justify-content-end gap-2 mb-2">
    <button
      type="button"
      class="btn btn-success"
      (click)="openNewProductQuoteModal()"
    >
      <i class="bi bi-plus-lg"></i>
      {{ 'QUOTES.NEW_PRODUCT_QUOTE' | translate }}
    </button>
    <button
      *ngIf="isFleetModuleEnabled"
      type="button"
      class="btn btn-success"
      (click)="openNewTripQuoteModal()"
    >
      <i class="bi bi-plus-lg"></i>
      {{ 'QUOTES.NEW_TRIP_QUOTE' | translate }}
    </button>
  </div>

  <app-grid
    [compactView]="compact"
    [className]="'SIDEBAR.ORCAMENTOS' | translate"
    [canAdd]="false"
    [rowData]="filteredRowData"
    [columnDefs]="columnDefs"
    [baseEndPoint]="baseEndPoint"
    [refresh]="refreshQuotes.bind(this)"
    [delete]="deleteQuote.bind(this)"
    (openModal)="openModal($event)"
    [filtersTemplate]="filtersTpl"
    [showFilters]="showFiltersOnInit"
  ></app-grid>

  <ng-template #filtersTpl>
    <div class="row g-2 mb-2 flex-column flex-md-row">
      <div class="date-filter-area col-12 col-md-auto">
        <app-date-field
          [(ngModel)]="filterStartDate"
          (ngModelChange)="applyFilters()"
          [label]="'COMMON.RANGE_START' | translate"
          class="w-100 p-0"
        ></app-date-field>
      </div>
      <div class="date-filter-area col-12 col-md-auto mb-1 mb-md-0">
        <app-date-field
          [(ngModel)]="filterEndDate"
          (ngModelChange)="applyFilters()"
          [label]="'COMMON.RANGE_END' | translate"
          class="w-100 p-0"
        ></app-date-field>
      </div>
      <div class="col-12 col-md-auto ms-md-2">
        <div class="filter-group-box position-relative mb-2 mb-md-0">
          <span class="filter-group-label">{{ 'COMMON.STATUS' | translate }}</span>
          <div class="d-flex flex-wrap align-items-center pt-2 gap-2">
            <label class="form-check-label ms-2">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="filterStatus.Open"
                (change)="applyFilters()"
              />
              {{ 'QUOTES.STATUS_OPEN' | translate }}
            </label>
            <label class="form-check-label ms-2">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="filterStatus.WaitingPayment"
                (change)="applyFilters()"
              />
              {{ 'QUOTES.STATUS_WAITING_PAYMENT' | translate }}
            </label>
            <label class="form-check-label ms-2">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="filterStatus.Closed"
                (change)="applyFilters()"
              />
              {{ 'QUOTES.STATUS_CLOSED' | translate }}
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-auto d-flex align-items-end">
        <button class="btn btn-secondary w-100" (click)="clearFilters()">
          {{ 'COMMON.CLEAR' | translate }}
        </button>
      </div>
    </div>
  </ng-template>
</div>
