<app-header
  [title]="isEdit ? 'Editar Transação' : 'Adicionar Transação'"
  [navigationMenus]="[
    { label: 'Home', link: '/home' },
    { label: 'Transações', link: '/transactions' },
    { label: isEdit ? 'Editar Transação' : 'Adicionar Transação', link: '' },
  ]"
></app-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-secondary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <!-- Pode adicionar um ícone ou resumo da transação aqui -->
              <div class="box-profile">
                <div class="text-center">
                  <i class="bi bi-cash-coin" style="font-size: 4rem"></i>
                  <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>ID: </b> <a class="float-right">{{ data?.id }}</a>
                    </li>
                    <li class="list-group-item">
                      <b>Tipo: </b>
                      @for (
                        option of transactionTypeOptions;
                        track option.value
                      ) {
                        @if (option.value === data?.type) {
                          <a class="float-right">{{ option.label }}</a>
                        }
                      }
                    </li>
                    <li class="list-group-item">
                      <b>Status: </b>
                      @for (
                        option of transactionStatusOptions;
                        track option.value
                      ) {
                        @if (option.value === data?.status) {
                          <a class="float-right">{{ option.label }}</a>
                        }
                      }
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card card card-secondary card-outline">
          <div class="card-body">
            <ul class="nav nav-tabs mb-3">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  [class.active]="activeTab === 'details'"
                  (click)="activeTab = 'details'"
                  data-toggle="tab"
                  >Detalhes</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'payments'"
                  (click)="activeTab = 'payments'"
                  data-toggle="tab"
                  >Parcelas</a
                >
              </li>
            </ul>

            @if (loading) {
              <div class="text-center py-4">Carregando...</div>
            }

            @if (!loading) {
              <div>
                @if (activeTab === "details") {
                  <div>
                    <app-transaction-form
                      [isEdit]="isEdit"
                      [data]="data"
                      [compact]="false"
                      (save)="save($event)"
                      (cancel)="cancel()"
                    ></app-transaction-form>
                  </div>
                }
                @if (activeTab === "payments") {
                  <app-payments
                    [compact]="true"
                    [canAdd]="true"
                    [entity]="'Transaction'"
                    [data]="data"
                    (refreshParent)="onTransactionUpdated()"
                  ></app-payments>
                }
              </div>
            }
          </div>
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
