<div class="input-group date-field">
  <div class="form-floating flex-fill">
    <p-datepicker
      #picker
      [ngModel]="value"
      (ngModelChange)="onModelChange($event)"
      (onBlur)="onTouched()"
      (keydown)="onInputKeydown($event)"
      (input)="onInputChange($event)"
      dateFormat="dd/mm/yy"
      [showIcon]="false"
      [placeholder]="placeholder"
      [disabled]="isDisabled"
      [inputId]="fieldId"
      inputStyleClass="form-control date-field-input"
      styleClass="date-field-picker"
      appendTo="body"
    ></p-datepicker>
    @if (label) {
      <label [for]="fieldId">{{ label }}</label>
    }
  </div>
  <button
    type="button"
    class="input-group-text date-field-toggle"
    tabindex="-1"
    [disabled]="isDisabled"
    (click)="toggleCalendar()"
  >
    <i class="bi bi-calendar2-week"></i>
  </button>
</div>
