<div class="service-order-list">
  <h5 class="mb-2">{{ 'DRIVERS.SERVICE_ORDERS_TITLE' | translate }}</h5>
  <p class="text-muted small">
    {{ 'DRIVERS.SERVICE_ORDERS_HINT' | translate }}
  </p>

  <app-grid
    [compactView]="compact"
    [className]="'DRIVERS.SERVICE_ORDERS_TITLE' | translate"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [baseEndPoint]="baseEndPoint"
    [canAdd]="false"
    [refresh]="refresh.bind(this)"
    [update]="markAsPaid.bind(this)"
    [delete]="noop.bind(this)"
  ></app-grid>
</div>
