<div class="fuel-log-form-wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-scrollable-area">
    <div class="row g-2">
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              type="text"
              formControlName="productSku"
              class="form-control"
              [matAutocomplete]="fuelLogSkuAuto"
              [placeholder]="'PRODUCTS.SKU' | translate"
              id="fuelLogProductSku"
              (blur)="onProductSkuBlur()"
            />
            <label for="fuelLogProductSku">{{ 'PRODUCTS.SKU' | translate }}</label>
            <mat-autocomplete
              #fuelLogSkuAuto="matAutocomplete"
              (optionSelected)="selectProduct($event.option.value)"
            >
              <mat-option *ngFor="let product of filteredProductsSku$ | async" [value]="product">
                {{ product.sku }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="input-group-text"><i class="bi bi-upc"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              type="text"
              formControlName="productName"
              class="form-control"
              [matAutocomplete]="fuelLogNameAuto"
              [placeholder]="'PRODUCTS.PRODUCT_NAME' | translate"
              id="fuelLogProductName"
              (blur)="onProductNameBlur()"
            />
            <label for="fuelLogProductName">{{ 'PRODUCTS.PRODUCT_NAME' | translate }}</label>
            <mat-autocomplete
              #fuelLogNameAuto="matAutocomplete"
              (optionSelected)="selectProduct($event.option.value)"
            >
              <mat-option *ngFor="let product of filteredProductsName$ | async" [value]="product">
                {{ product.name }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="input-group-text"><i class="bi bi-tag"></i></div>
        </div>
      </div>
      @if (!vehicleId) {
        <div class="col-12 col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                type="text"
                formControlName="vehiclePlate"
                class="form-control"
                [matAutocomplete]="fuelLogVehicleAuto"
                [placeholder]="'VEHICLES.SINGULAR' | translate"
                id="fuelLogVehiclePlate"
                (blur)="onVehiclePlateBlur()"
              />
              <label for="fuelLogVehiclePlate">{{ 'VEHICLES.SINGULAR' | translate }}</label>
              <mat-autocomplete
                #fuelLogVehicleAuto="matAutocomplete"
                (optionSelected)="selectVehicle($event.option.value)"
              >
                <mat-option *ngFor="let vehicle of filteredVehiclesPlate$ | async" [value]="vehicle">
                  {{ vehicle.plate }} - {{ vehicle.model }}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="input-group-text"><i class="bi bi-truck"></i></div>
          </div>
        </div>
      }
      <div class="col-12 col-md-6">
        <app-date-field formControlName="date" [label]="'COMMON.DATE' | translate"></app-date-field>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="odometer"
              type="number"
              min="0"
              [placeholder]="'VEHICLES.ODOMETER' | translate"
              class="form-control"
              id="fuelLogOdometer"
            />
            <label for="fuelLogOdometer">{{ 'VEHICLES.ODOMETER' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-speedometer2"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="liters"
              type="number"
              min="0"
              step="0.01"
              [placeholder]="'VEHICLES.LITERS' | translate"
              class="form-control"
              id="fuelLogLiters"
            />
            <label for="fuelLogLiters">{{ 'VEHICLES.LITERS' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-droplet"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <app-currency-field
          formControlName="pricePerLiter"
          [label]="'VEHICLES.PRICE_PER_LITER' | translate"
        ></app-currency-field>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="gasStation"
              type="text"
              [placeholder]="'VEHICLES.GAS_STATION' | translate"
              class="form-control"
              id="fuelLogGasStation"
            />
            <label for="fuelLogGasStation">{{ 'VEHICLES.GAS_STATION' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-fuel-pump"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill select-floating">
            <select formControlName="status" class="form-select" id="fuelLogStatus">
              <option value="" disabled>{{ 'COMMON.STATUS' | translate }}</option>
              @for (option of statusOptions; track option.value) {
                <option [ngValue]="option.value">{{ option.value }}</option>
              }
            </select>
            <label for="fuelLogStatus">{{ 'COMMON.STATUS' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-info-circle"></i></div>
        </div>
      </div>
    </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-secondary btn-sm me-2" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
      @if (isEdit) {
        <button (click)="remove()" type="button" class="btn btn-danger btn-sm me-2">{{ 'COMMON.REMOVE' | translate }}</button>
      }
      <button
        [appClick]="submit.bind(this)"
        type="submit"
        class="btn btn-success btn-sm"
      >
        {{ (isEdit ? 'COMMON.SAVE' : 'COMMON.ADD') | translate }}
      </button>
    </div>
  </form>
</div>
