<!-- <app-header title="Dashboard"></app-header> -->

<!--begin::App Content-->
<div class="app-content">
  <!--begin::Container-->
  <div class="container-fluid">
    <app-info-cards></app-info-cards>
    <!--begin::Row-->
    <!--begin::Filtro-->
    <div class="row mb-3 justify-content-end align-items-center">
      <div class="col-auto">
        <button
          class="btn btn-outline-primary btn-sm"
          [ngClass]="showFilters ? 'active' : ''"
          (click)="toggleFilters()"
        >
          <i class="bi bi-funnel"></i> {{ 'GRID.FILTERS' | translate }}
        </button>
      </div>
    </div>
    <div
      [@cardCollapse]="showFilters ? 'open' : 'closed'"
      class="home-filters-animated"
    >
      <div class="row mb-2 justify-content-end">
        <div class="col-12 col-md-auto mb-2 mb-md-0">
          <app-date-field
            [(ngModel)]="filterStartDate"
            [label]="'DASHBOARD.START_DATE' | translate"
            class="date-filter-area w-100"
          ></app-date-field>
        </div>
        <div class="col-12 col-md-auto mb-2 mb-md-0">
          <app-date-field
            [(ngModel)]="filterEndDate"
            [label]="'DASHBOARD.END_DATE' | translate"
            class="date-filter-area w-100"
          ></app-date-field>
        </div>
        <div class="col-12 col-md-auto d-flex align-items-end">
          <button class="btn btn-secondary btn-sm w-100" (click)="clearFilters()">
            <i class="bi bi-x-circle"></i> {{ 'COMMON.CLEAR' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="row g-2">
      <div class="col-12">
        <app-area-chart-trending
          [startDate]="filterStartDate"
          [endDate]="filterEndDate"
        ></app-area-chart-trending>
      </div>
      <div class="col-6" hidden>
        <app-area-chart
          [startDate]="filterStartDate"
          [endDate]="filterEndDate"
        ></app-area-chart>
      </div>
      <div class="col-md-6">
        <app-pie-chart
          [title]="'DASHBOARD.EXPENSE_CONTROL' | translate"
          [startDate]="filterStartDate"
          [endDate]="filterEndDate"
        ></app-pie-chart>
      </div>
      <div class="col-md-6">
        <app-pie-chart
          [title]="'REPORTS.OUTGOING' | translate"
          [titleLayout]="'text-danger'"
          [iconLayout]="'bi bi-arrow-down-circle-fill text-danger ms-2'"
          [paymentType]="PaymentType.Outgoing"
          [startDate]="filterStartDate"
          [endDate]="filterEndDate"
        ></app-pie-chart>
      </div>
    </div>
    <!-- /.row (main row) -->
  </div>
  <!--end::Container-->
</div>
<!--end::App Content-->
