.user-image.rounded-circle {
  width: 35px;
  height: 35px;
  object-fit: cover;
  aspect-ratio: 1/1;
  display: inline-block;
}

.small-user-image {
  width: 35px;
  height: 35px;
  object-fit: cover;
  aspect-ratio: 1/1;
  display: inline-block;
}

.active {
  color: brown !important;
}

.logged-in {
  text-decoration: none;
  cursor: pointer;
}

.small-user-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.panel-user-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
