<app-header
  [title]="isEdit ? 'Editar ' + title : 'Adicionar ' + title"
  [navigationMenus]="[
    { label: 'Home', link: '/home' },
    { label: title, link: '/' + baseEndPoint },
    { label: isEdit ? 'Editar ' + title : 'Adicionar ' + title, link: '' },
  ]"
></app-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-secondary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <app-photo
                [data]="data"
                [entityClass]="'BusinessPartner'"
                [imageUrl]="data?.photo"
              ></app-photo>
              <div class="box-profile">
                <div class="text-center">
                  <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>Followers</b> <a class="float-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                      <b>Following</b> <a class="float-right">543</a>
                    </li>
                    <li class="list-group-item">
                      <b>Friends</b> <a class="float-right">13,287</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- <img
              class="profile-user-img img-fluid img-circle"
              src="assets/img/user4-128x128.jpg"
              alt="Client profile picture"
              /> -->
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card card card-secondary card-outline">
          <div class="card-body">
            <ul class="nav nav-tabs mb-3">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  [class.active]="activeTab === 'details'"
                  (click)="activeTab = 'details'"
                  data-toggle="tab"
                  >Detalhes</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'address'"
                  (click)="activeTab = 'address'"
                  data-toggle="tab"
                  >Endereço</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'orders'"
                  (click)="activeTab = 'orders'"
                  data-toggle="tab"
                  >Pedidos</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'payments'"
                  (click)="activeTab = 'payments'"
                  data-toggle="tab"
                  >Pagamentos</a
                >
              </li>
            </ul>

            @if (loading) {
              <div class="text-center py-4">Loading...</div>
            }

            @if (!loading) {
              <div>
                @if (activeTab === "details") {
                  <div>
                    <!-- data-form component: pass compact=true for page -->
                    <app-business-partner-form
                      [isEdit]="isEdit"
                      [data]="data"
                      [compact]="false"
                      (save)="save($event)"
                      (cancel)="cancel()"
                    ></app-business-partner-form>
                  </div>
                }
                @if (activeTab === "address") {
                  <div>
                    <app-address [parentData]="data"> </app-address>
                  </div>
                }
                @if (activeTab === "orders") {
                  <app-client-orders-list
                    [parentData]="data"
                  ></app-client-orders-list>
                }
                @if (activeTab === "payments") {
                  <app-payments
                    [compact]="true"
                    [canAdd]="false"
                    [entity]="'BusinessPartner'"
                    [data]="data"
                  ></app-payments>
                }
              </div>
            }
          </div>
        </div>

        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
