<div class="modal-header">
  <h5 class="modal-title">
    {{ "Redefinir Senha" }}
  </h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
  <div class="user-form-wrapper">
    <form [formGroup]="form" (ngSubmit)="resetPassword()">
      <div class="row g-1 mb-1">
        <div class="input-group">
          <div class="form-floating">
            <input
              formControlName="email"
              type="text"
              placeholder="Email"
              class="form-control"
            />
            <label for="email">Email</label>
          </div>
          <div class="input-group-text"><i class="bi bi-envelope"></i></div>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating">
            <input
              formControlName="newPassword"
              [type]="passwordVisible ? 'text' : 'password'"
              placeholder="New password"
              class="form-control"
              [class.is-invalid]="isInvalid('newPassword')"
            />
            <label for="newPassword">Nova Senha</label>
          </div>
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="togglePasswordVisibility()"
            [attr.aria-pressed]="passwordVisible"
            [title]="passwordVisible ? 'Hide password' : 'Show password'"
          >
            <i
              [class.bi]="true"
              [class.bi-eye-slash]="passwordVisible"
              [class.bi-eye]="!passwordVisible"
            ></i>
          </button>
        </div>
      </div>

      <div class="form-floating" *ngIf="errorMessages.length">
        <app-validation-messages
          [errorMessages]="errorMessages"
        ></app-validation-messages>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <button
          class="btn btn-block btn-secondary me-2"
          type="button"
          (click)="close()"
        >
          Cancelar
        </button>
        <button class="btn btn-block btn-success" type="submit">Salvar</button>
      </div>
    </form>
  </div>
</div>
