<div class="modal-header">
  <h5 class="modal-title">
    {{ "ACCOUNT.RESET_PASSWORD.TITLE" | translate }}
  </h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
  <div class="user-form-wrapper">
    <form [formGroup]="form" (ngSubmit)="resetPassword()">
      <div class="row g-1 mb-1">
        <div class="input-group">
          <div class="form-floating">
            <input
              formControlName="email"
              type="text"
              [placeholder]="'ACCOUNT.RESET_PASSWORD.EMAIL' | translate"
              class="form-control"
            />
            <label for="email">{{ 'ACCOUNT.RESET_PASSWORD.EMAIL' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-envelope"></i></div>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating">
            <input
              formControlName="newPassword"
              [type]="passwordVisible ? 'text' : 'password'"
              [placeholder]="'ACCOUNT.RESET_PASSWORD.NEW_PASSWORD' | translate"
              class="form-control"
              [class.is-invalid]="isInvalid('newPassword')"
            />
            <label for="newPassword">{{
              'ACCOUNT.RESET_PASSWORD.NEW_PASSWORD' | translate
            }}</label>
          </div>
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="togglePasswordVisibility()"
            [attr.aria-pressed]="passwordVisible"
            [title]="
              (passwordVisible
                ? 'ACCOUNT.LOGIN.HIDE_PASSWORD'
                : 'ACCOUNT.LOGIN.SHOW_PASSWORD'
              ) | translate
            "
          >
            <i
              [class.bi]="true"
              [class.bi-eye-slash]="passwordVisible"
              [class.bi-eye]="!passwordVisible"
            ></i>
          </button>
        </div>
      </div>

      <div class="form-floating" *ngIf="errorMessages.length">
        <app-validation-messages
          [errorMessages]="errorMessages"
        ></app-validation-messages>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <button
          class="btn btn-block btn-secondary me-2"
          type="button"
          (click)="close()"
        >
          {{ 'COMMON.CANCEL' | translate }}
        </button>
        <button class="btn btn-block btn-success" type="submit">
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
