<div class="d-flex justify-content-center">
  <div class="col-12 col-lg-5">
    <main class="form-signin">
      <form
        [formGroup]="form"
        class="form-signin"
        (ngSubmit)="resetPassword()"
        autocomplete="off"
      >
        <div class="text-center mb-4">
          <h1 class="mb-3 font-weight-normal">Redefinir a sua senha</h1>
        </div>
        <div class="form-floating mb-3">
          <input
            formControlName="email"
            type="text"
            placeholder="Email"
            class="form-control"
          />
          <label for="email">Email</label>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating">
            <input
              formControlName="newPassword"
              [type]="passwordVisible ? 'text' : 'password'"
              placeholder="New password"
              class="form-control"
              [class.is-invalid]="isInvalid('newPassword')"
            />
            <label for="newPassword">Nova Senha</label>
            @if (inputHasError("newPassword", "required")) {
              <span class="text-danger">É necessário uma nova senha</span>
            }
            @if (
              inputHasError("newPassword", "minlength") ||
              inputHasError("newPassword", "maxlength")
            ) {
              <span class="text-danger"
                >New password must be at least 6, and maximum 15 characters
              </span>
            }
          </div>
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="togglePasswordVisibility()"
            [attr.aria-pressed]="passwordVisible"
            [title]="passwordVisible ? 'Hide password' : 'Show password'"
          >
            <i
              [ngClass]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"
            ></i>
          </button>
        </div>
        @if (errorMessages) {
          <div class="form-floating">
            <!-- <app-validation-messages
              [errorMessages]="errorMessages"
            ></app-validation-messages> -->
          </div>
        }
        <div class="row">
          <div class="col-6">
            <div class="d-grid">
              <button class="btn btn-block btn-success" type="submit">
                Change password
              </button>
            </div>
          </div>
          <div class="col-6">
            <div class="d-grid">
              <button
                class="btn btn-block btn-danger"
                type="button"
                routerLink="/account/login"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>
</div>
