<div class="modal-header">
  <h5 class="modal-title">
    {{
      (isEdit ? 'COMMON.EDIT_ENTITY' : 'COMMON.ADD_ENTITY')
        | translate: { entity: ('QUOTES.QUOTE_PRODUCT' | translate) }
    }}
  </h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
  <app-quote-product-form
    [isModal]="true"
    [isEdit]="isEdit"
    [data]="data"
    [dialogRef]="dialogRef"
    [parentId]="parentId"
    [parentData]="parentData"
    [compact]="false"
  ></app-quote-product-form>
</div>
