<app-header
  *ngIf="!compact"
  [title]="'VEHICLES.MAINTENANCES' | translate"
  [navigationMenus]="[
    { label: 'COMMON.HOME' | translate, link: '/home' },
    { label: 'VEHICLES.MAINTENANCES' | translate, link: '' },
  ]"
></app-header>

<div [class.app-content]="!compact">
  <app-grid
    [compactView]="compact"
    [className]="'VEHICLES.MAINTENANCES' | translate"
    [rowData]="rowData"
    [loading]="loading"
    [columnDefs]="columnDefs"
    [baseEndPoint]="baseEndPoint"
    [canAdd]="true"
    [refresh]="refresh.bind(this)"
    [delete]="deleteMaintenance.bind(this)"
    (openModal)="openModal($event)"
  ></app-grid>
</div>
