<div class="vehicle-form-wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-scrollable-area">
    <div class="row g-1 mb-1">
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="plate"
              type="text"
              [placeholder]="'VEHICLES.PLATE' | translate"
              class="form-control"
              id="plate"
              [class.is-invalid]="isInvalid('plate')"
              [class.is-valid]="isValid('plate')"
            />
            <label for="plate">{{ 'VEHICLES.PLATE' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-card-heading"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="renavam"
              type="text"
              [placeholder]="'VEHICLES.RENAVAM' | translate"
              class="form-control"
              id="renavam"
            />
            <label for="renavam">{{ 'VEHICLES.RENAVAM' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-file-text"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="chassis"
              type="text"
              [placeholder]="'VEHICLES.CHASSIS' | translate"
              class="form-control"
              id="chassis"
            />
            <label for="chassis">{{ 'VEHICLES.CHASSIS' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-upc-scan"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="brand"
              type="text"
              [placeholder]="'VEHICLES.BRAND' | translate"
              class="form-control"
              id="brand"
              [class.is-invalid]="isInvalid('brand')"
              [class.is-valid]="isValid('brand')"
            />
            <label for="brand">{{ 'VEHICLES.BRAND' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-truck"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="model"
              type="text"
              [placeholder]="'VEHICLES.MODEL' | translate"
              class="form-control"
              id="model"
              [class.is-invalid]="isInvalid('model')"
              [class.is-valid]="isValid('model')"
            />
            <label for="model">{{ 'VEHICLES.MODEL' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-truck-front"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="manufactureYear"
              type="number"
              [placeholder]="'VEHICLES.MANUFACTURE_YEAR' | translate"
              class="form-control"
              id="manufactureYear"
            />
            <label for="manufactureYear">{{ 'VEHICLES.MANUFACTURE_YEAR' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="modelYear"
              type="number"
              [placeholder]="'VEHICLES.MODEL_YEAR' | translate"
              class="form-control"
              id="modelYear"
            />
            <label for="modelYear">{{ 'VEHICLES.MODEL_YEAR' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="seatCapacity"
              type="number"
              [placeholder]="'VEHICLES.SEAT_CAPACITY' | translate"
              class="form-control"
              id="seatCapacity"
              [class.is-invalid]="isInvalid('seatCapacity')"
              [class.is-valid]="isValid('seatCapacity')"
            />
            <label for="seatCapacity">{{ 'VEHICLES.SEATS' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="odometer"
              type="number"
              [placeholder]="'VEHICLES.ODOMETER' | translate"
              class="form-control"
              id="odometer"
            />
            <label for="odometer">{{ 'VEHICLES.ODOMETER' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill select-floating">
            <select
              formControlName="type"
              class="form-select"
              id="type"
              [class.is-invalid]="isInvalid('type')"
              [class.is-valid]="isValid('type')"
            >
              @for (option of typeOptions; track option.value) {
                <option [value]="option.value">{{ option.label }}</option>
              }
            </select>
            <label for="type">{{ 'VEHICLES.VEHICLE_TYPE' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill select-floating">
            <select
              formControlName="status"
              class="form-select"
              id="status"
              [class.is-invalid]="isInvalid('status')"
              [class.is-valid]="isValid('status')"
            >
              @for (option of statusOptions; track option.value) {
                <option [value]="option.value">{{ option.label }}</option>
              }
            </select>
            <label for="status">{{ 'COMMON.STATUS' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="pricePerKmFormatted"
              type="text"
              [placeholder]="'VEHICLES.PRICE_PER_KM' | translate"
              class="form-control"
              [class.is-invalid]="isInvalid('pricePerKmFormatted')"
              [class.is-valid]="isValid('pricePerKmFormatted')"
              (blur)="onPricePerKmBlur()"
            />
            <label>{{ 'VEHICLES.PRICE_PER_KM_LABEL' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-signpost-split"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="dailyRateFormatted"
              type="text"
              [placeholder]="'VEHICLES.DAILY_RATE' | translate"
              class="form-control"
              [class.is-invalid]="isInvalid('dailyRateFormatted')"
              [class.is-valid]="isValid('dailyRateFormatted')"
              (blur)="onDailyRateBlur()"
            />
            <label>{{ 'VEHICLES.DAILY_RATE' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-cash-coin"></i></div>
        </div>
      </div>
    </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-secondary btn-sm me-2" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
      @if (isEdit) {
        <button (click)="remove()" type="button" class="btn btn-danger btn-sm me-2">{{ 'COMMON.REMOVE' | translate }}</button>
      }
      <button
        [appClick]="submit.bind(this)"
        type="submit"
        class="btn btn-success btn-sm"
      >
        {{ (isEdit ? 'COMMON.SAVE' : 'COMMON.ADD') | translate }}
      </button>
    </div>
  </form>
</div>
