<div class="driver-form-wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-scrollable-area">
    <div class="row g-1 mb-1">
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="name"
              type="text"
              [placeholder]="'DRIVERS.DRIVER_NAME' | translate"
              class="form-control"
              id="name"
              [class.is-invalid]="isInvalid('name')"
              [class.is-valid]="isValid('name')"
            />
            <label for="name">{{ 'DRIVERS.DRIVER_NAME' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-person"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="socialSecurityCard"
              type="text"
              [placeholder]="'DRIVERS.CPF' | translate"
              class="form-control"
              id="socialSecurityCard"
              mask="000.000.000-00"
              [class.is-invalid]="isInvalid('socialSecurityCard')"
              [class.is-valid]="isValid('socialSecurityCard')"
              (blur)="markAsTouched('socialSecurityCard')"
            />
            <label for="socialSecurityCard">{{ 'DRIVERS.CPF' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-card-text"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="nationalIdCard"
              type="text"
              [placeholder]="'DRIVERS.RG' | translate"
              class="form-control"
              id="nationalIdCard"
              mask="00.000.000-C"
              [patterns]="rgMaskPatterns"
              [class.is-invalid]="isInvalid('nationalIdCard')"
              [class.is-valid]="isValid('nationalIdCard')"
              (blur)="markAsTouched('nationalIdCard')"
            />
            <label for="nationalIdCard">{{ 'DRIVERS.RG' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-person-vcard"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="email"
              type="email"
              [placeholder]="'COMMON.EMAIL' | translate"
              class="form-control"
              id="email"
              [class.is-invalid]="isInvalid('email')"
              [class.is-valid]="isValid('email')"
            />
            <label for="email">{{ 'COMMON.EMAIL' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-envelope"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="phone"
              type="text"
              [placeholder]="'COMMON.PHONE' | translate"
              class="form-control"
              id="phone"
              mask="(00) 0000-0000"
              [class.is-invalid]="isInvalid('phone')"
              [class.is-valid]="isValid('phone')"
              (blur)="markAsTouched('phone')"
            />
            <label for="phone">{{ 'COMMON.PHONE' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-telephone"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="mobile"
              type="text"
              [placeholder]="'BUSINESS_PARTNER.MOBILE' | translate"
              class="form-control"
              id="mobile"
              mask="(00) 0 0000-0000"
              [class.is-invalid]="isInvalid('mobile')"
              [class.is-valid]="isValid('mobile')"
              (blur)="markAsTouched('mobile')"
            />
            <label for="mobile">{{ 'BUSINESS_PARTNER.MOBILE' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-phone"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <app-date-field
          formControlName="birthday"
          [label]="'DRIVERS.BIRTH' | translate"
        ></app-date-field>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="licenseNumber"
              type="text"
              [placeholder]="'DRIVERS.LICENSE_NUMBER' | translate"
              class="form-control"
              id="licenseNumber"
              mask="00000000000"
              [class.is-invalid]="isInvalid('licenseNumber')"
              [class.is-valid]="isValid('licenseNumber')"
              (blur)="markAsTouched('licenseNumber')"
            />
            <label for="licenseNumber">{{ 'DRIVERS.LICENSE_NUMBER' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-patch-check"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="licenseCategory"
              type="text"
              [placeholder]="'VEHICLES.CATEGORY' | translate"
              class="form-control"
              id="licenseCategory"
              [class.is-invalid]="isInvalid('licenseCategory')"
              [class.is-valid]="isValid('licenseCategory')"
            />
            <label for="licenseCategory">{{ 'VEHICLES.CATEGORY' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-award"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <app-date-field
          formControlName="licenseExpiryDate"
          [label]="'DRIVERS.LICENSE_EXPIRY' | translate"
        ></app-date-field>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill select-floating">
            <select
              formControlName="employmentType"
              class="form-select"
              id="employmentType"
              [class.is-invalid]="isInvalid('employmentType')"
              [class.is-valid]="isValid('employmentType')"
            >
              @for (option of employmentTypeOptions; track option.value) {
                <option [value]="option.value">{{ option.label }}</option>
              }
            </select>
            <label for="employmentType">{{ 'DRIVERS.EMPLOYMENT_TYPE' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-briefcase"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <app-date-field
          formControlName="admissionDate"
          [label]="'DRIVERS.ADMISSION_DATE' | translate"
        ></app-date-field>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="commissionPercentage"
              type="number"
              min="0"
              max="100"
              [placeholder]="'DRIVERS.COMMISSION_PERCENTAGE' | translate"
              class="form-control"
              id="commissionPercentage"
            />
            <label for="commissionPercentage">{{ 'DRIVERS.COMMISSION_ON_TRIP' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-percent"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill select-floating">
            <select
              formControlName="status"
              class="form-select"
              id="status"
              [class.is-invalid]="isInvalid('status')"
              [class.is-valid]="isValid('status')"
            >
              @for (option of statusOptions; track option.value) {
                <option [value]="option.value">{{ option.label }}</option>
              }
            </select>
            <label for="status">{{ 'COMMON.STATUS' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-info-circle"></i></div>
        </div>
      </div>
    </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-secondary btn-sm me-2" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
      @if (isEdit) {
        <button (click)="remove()" type="button" class="btn btn-danger btn-sm me-2">{{ 'COMMON.REMOVE' | translate }}</button>
      }
      <button
        [appClick]="submit.bind(this)"
        type="submit"
        class="btn btn-success btn-sm"
      >
        {{ (isEdit ? 'COMMON.SAVE' : 'COMMON.ADD') | translate }}
      </button>
    </div>
  </form>
</div>
