<div class="modal-header">
  <h5 class="modal-title">{{ (isEdit ? 'COMMON.EDIT_ENTITY' : 'COMMON.ADD_ENTITY') | translate: { entity: ('TRIPS.PASSENGERS_TAB' | translate) } }}</h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-scrollable-area">
    <div class="row g-2">
      <div class="col-12">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="name"
              type="text"
              [placeholder]="'COMMON.NAME' | translate"
              class="form-control"
              id="passengerModalName"
            />
            <label for="passengerModalName">{{ 'COMMON.NAME' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-person"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="documentNumber"
              type="text"
              [placeholder]="'TRIPS.DOCUMENT' | translate"
              class="form-control"
              id="passengerModalDocumentNumber"
            />
            <label for="passengerModalDocumentNumber">{{ 'TRIPS.DOCUMENT' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="seat"
              type="text"
              [placeholder]="'TRIPS.SEAT' | translate"
              class="form-control"
              id="passengerModalSeat"
            />
            <label for="passengerModalSeat">{{ 'TRIPS.SEAT' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="phone"
              type="text"
              [placeholder]="'COMMON.PHONE' | translate"
              class="form-control"
              id="passengerModalPhone"
            />
            <label for="passengerModalPhone">{{ 'COMMON.PHONE' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-telephone"></i></div>
        </div>
      </div>
    </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-secondary btn-sm me-2" (click)="close()">{{ 'COMMON.CANCEL' | translate }}</button>
      <button type="submit" class="btn btn-success btn-sm" [disabled]="saving">
        {{ (isEdit ? 'COMMON.SAVE' : 'COMMON.ADD') | translate }}
      </button>
    </div>
  </form>
</div>
