<nav class="navbar navbar-expand bg-body">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Start Navbar Links-->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          data-lte-toggle="sidebar"
          href="#"
          role="button"
          (click)="toggleSidebar(); $event.preventDefault()"
        >
          <i class="bi bi-list"></i>
        </a>
      </li>
    </ul>
    <!--end::Start Navbar Links-->

    <!--begin::End Navbar Links-->
    <ng-container *ngIf="user$ | async as user">
      <ul class="navbar-nav ms-auto">
        <!--begin::Notifications Dropdown Menu-->
        <li class="nav-item dropdown" *ngIf="isPaymentAlertEnabled">
          <app-payment-notification class=""></app-payment-notification>
        </li>
        <!--end::Notifications Dropdown Menu-->
        <li class="nav-item dropdown" *ngIf="isVehicleBlockedAlertEnabled">
          <app-vehicle-blocked-notification></app-vehicle-blocked-notification>
        </li>
        <li class="nav-item dropdown" *ngIf="isDriverLicenseAlertEnabled">
          <app-driver-license-notification></app-driver-license-notification>
        </li>
        <!--begin::Fullscreen Toggle-->
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            data-lte-toggle="fullscreen"
            (click)="toggleFullscreen(); $event.preventDefault()"
          >
            @if (!isFullscreen) {
              <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i>
            }
            @if (isFullscreen) {
              <i data-lte-icon="minimize" class="bi bi-fullscreen-exit"></i>
            }
          </a>
        </li>
        <!--end::Fullscreen Toggle-->
        <!--begin::User Menu Dropdown-->
        <li class="nav-item dropdown user-menu">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
          >
            <img
              [src]="imageUrl"
              class="user-image rounded-circle shadow small-user-image"
              (error)="onImgError($event)"
            />
            <span class="d-none d-md-inline">{{
              `${user.firstName} ${user.lastName}` | titlecase
            }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
            <!--begin::User Image-->
            <li class="user-header bg-body-secondary">
              <app-photo
                *ngIf="data"
                [entityClass]="'Users'"
                [data]="data"
                [imageUrl]="data.photo"
                [canDisplaySubtitle]="false"
              >
              </app-photo>
            </li>
            <!--end::User Image-->
            <!--begin::Preferences (theme/language)-->
            <li class="px-3 py-2">
              <app-user-preferences [compact]="true"></app-user-preferences>
            </li>
            <!--end::Preferences-->
            <!--begin::Menu Footer-->

            <li class="user-footer d-flex gap-2">
              <a
                class="btn btn-primary btn-flat flex-fill"
                [routerLink]="['/users/', user.id]"
                >{{ 'NAVBAR.PROFILE' | translate }}</a
              >
              <a class="btn btn-danger btn-flat flex-fill" (click)="logout()"
                >{{ 'NAVBAR.LOGOUT' | translate }}</a
              >
            </li>
            <!--end::Menu Footer-->
          </ul>
        </li>
        <!--end::User Menu Dropdown-->
      </ul>
    </ng-container>
    <!--end::End Navbar Links-->
  </div>
  <!--end::Container-->
</nav>
