<div class="address-form-wrapper" [ngClass]="{ compact: compact }">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-scrollable-area">
      <div class="row g-1 mb-1">
        <!-- 1ª linha: tipo + cep -->
        <div class="col-12 col-md-6">
          <div class="input-group">
            <div class="form-floating flex-grow-1">
              <select
                formControlName="type"
                class="form-select"
                [class.is-invalid]="isInvalid('type')"
              >
                <option [ngValue]="null">{{ 'ADDRESS.SELECT_TYPE' | translate }}</option>
                <option
                  *ngFor="let option of addressTypeOptions"
                  [ngValue]="option.value"
                >
                  {{ option.value }}
                </option>
              </select>
              <label for="type">{{ 'ADDRESS.ADDRESS_TYPE' | translate }}</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-info-circle"></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group position-relative">
            <div class="form-floating flex-grow-1">
              <input
                formControlName="zipCode"
                type="text"
                class="form-control"
                [placeholder]="'ADDRESS.ZIP_CODE' | translate"
                maxlength="9"
                mask="00000-000"
                [class.is-invalid]="isInvalid('zipCode')"
              />
              <label for="zipCode">{{ 'ADDRESS.ZIP_CODE' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi-mailbox"></i></div>
            @if (loadingCep) {
              <div
                class="position-absolute top-50 end-0 translate-middle-y me-3"
              >
                <span
                  class="spinner-border spinner-border-sm text-primary"
                ></span>
              </div>
            }
          </div>
        </div>

        <!-- 2ª linha: rua + número -->
        <div class="col-12 col-md-9">
          <div class="input-group">
            <div class="form-floating flex-grow-1">
              <input
                formControlName="street"
                type="text"
                class="form-control"
                [placeholder]="'ADDRESS.STREET' | translate"
                [class.is-invalid]="isInvalid('street')"
              />
              <label for="street">{{ 'ADDRESS.STREET' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi-signpost"></i></div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="input-group">
            <div class="form-floating flex-grow-1">
              <input
                formControlName="number"
                type="number"
                class="form-control"
                [placeholder]="'ADDRESS.NUMBER' | translate"
                [class.is-invalid]="isInvalid('number')"
              />
              <label for="number">{{ 'ADDRESS.NUMBER' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi-hash"></i></div>
          </div>
        </div>

        <!-- 3ª linha: estado + cidade -->
        <div class="col-12 col-md-6">
          <div class="input-group">
            <div class="form-floating flex-grow-1">
              <select
                formControlName="state"
                class="form-select"
                [class.is-invalid]="isInvalid('state')"
              >
                <option [ngValue]="null">{{ 'ADDRESS.SELECT_STATE' | translate }}</option>
                @for (
                  estado of estados;
                  track trackByEstadoId(i, estado);
                  let i = $index
                ) {
                  <option [value]="estado.sigla">
                    {{ estado.nome }}
                  </option>
                }
              </select>
              <label for="state">{{ 'ADDRESS.STATE' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi-flag"></i></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group">
            <div class="form-floating flex-grow-1">
              <select
                formControlName="city"
                class="form-select"
                [class.is-invalid]="isInvalid('city')"
              >
                <option selected disabled>{{ 'ADDRESS.SELECT_CITY' | translate }}</option>
                @for (
                  cidade of cidades;
                  track trackByCidadeId(i, cidade);
                  let i = $index
                ) {
                  <option [value]="cidade.nome">
                    {{ cidade.nome }}
                  </option>
                }
              </select>
              <label for="city">{{ 'ADDRESS.CITY' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi-building"></i></div>
          </div>
        </div>

        <!-- 4ª linha: nome do endereço + comentários-->
        <div class="col-6">
          <div class="input-group">
            <div class="form-floating flex-grow-1">
              <input
                formControlName="name"
                type="text"
                class="form-control"
                [placeholder]="'ADDRESS.ADDRESS_NAME' | translate"
                [class.is-invalid]="isInvalid('name')"
              />
              <label for="name">{{ 'ADDRESS.ADDRESS_NAME' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi-geo-alt"></i></div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group">
            <div class="form-floating flex-grow-1">
              <input
                formControlName="comments"
                type="text"
                class="form-control"
                [placeholder]="'ADDRESS.COMMENTS' | translate"
              />
              <label for="comments">{{ 'ADDRESS.COMMENTS' | translate }}</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-chat-left-text"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    @if (!compact) {
      <div class="d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-form-cancel me-2" (click)="cancel()"><i class="bi bi-x-lg"></i>{{ 'COMMON.CANCEL' | translate }}</button>
        @if (isEdit) {
          <button (click)="remove()" type="button" class="btn btn-form-remove me-2"><i class="bi bi-trash"></i>{{ 'COMMON.REMOVE' | translate }}</button>
        }
        <button
          [appClick]="submit.bind(this)"
          type="submit"
          class="btn btn-form-save"
        >
          <i class="bi bi-check-lg"></i>{{ (isEdit ? 'COMMON.SAVE' : 'COMMON.ADD') | translate }}
        </button>
      </div>
    }
  </form>
</div>
