{
  "ConnectionStrings": {
    "DefaultConnection": "Server=SEU_HOST_AQUI;port=3306;Database=tsi_nexus;Uid=SEU_USUARIO;Pwd=SUA_SENHA;"
  },
  "JWT": {
    "Key": "qualquer-string-longa-e-aleatoria-pra-uso-local"
  },
  "MailJet": {
    "ApiKey": "",
    "SecretKey": ""
  },
  "SeedDemoData": false
}
