<div class="client-form-wrapper" [ngClass]="{ compact: compact }">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-scrollable-area">
      <!-- Sessão 1: Dados do Cliente -->
      <section style="font-size: 0.95em">
        <h5 class="mt-3 mb-2" style="font-size: 1.1em">Dados do Cliente</h5>
        <div class="row g-1 mb-1">
          <div class="input-group mb-1">
            <div class="form-floating">
              <input
                #firstInput
                formControlName="name"
                type="text"
                placeholder="Name"
                class="form-control"
                [class.is-invalid]="isInvalid('name')"
              />
              <label for="name">Name</label>
            </div>
            <div class="input-group-text"><i class="bi bi-person"></i></div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-floating">
              <select formControlName="type" class="form-select">
                <option value="Física">Pessoa Física</option>
                <option value="Jurídica">Pessoa Jurídica</option>
              </select>
              <label for="type">Tipo de Cliente</label>
            </div>
          </div>
          <div class="col-12 col-md-6">
            @if (form.get("type")?.value === "Física") {
              <div class="input-group">
                <div class="form-floating flex-grow-1">
                  <input
                    formControlName="socialSecurityCard"
                    type="text"
                    placeholder="CPF"
                    class="form-control"
                    [class.is-invalid]="isInvalid('socialSecurityCard')"
                    [class.is-valid]="isValid('socialSecurityCard')"
                    mask="000.000.000-00"
                    (blur)="markAsTouched('socialSecurityCard')"
                  />
                  <label for="socialSecurityCard">CPF</label>
                </div>
                <div class="input-group-text">
                  <i class="bi bi-card-text"></i>
                </div>
              </div>
            } @else {
              <div class="input-group">
                <div class="form-floating flex-grow-1">
                  <input
                    formControlName="nationalRegistry"
                    type="text"
                    placeholder="CNPJ"
                    class="form-control"
                    [class.is-invalid]="isInvalid('nationalRegistry')"
                    [class.is-valid]="isValid('nationalRegistry')"
                    mask="00.000.000/0000-00"
                    (blur)="markAsTouched('nationalRegistry')"
                  />
                  <label for="nationalRegistry">CNPJ</label>
                </div>
                <div class="input-group-text">
                  <i class="bi bi-building"></i>
                </div>
              </div>
            }
          </div>

          @if (form.get("type")?.value === "Física") {
            <app-date-field
              formControlName="birthday"
              [label]="'Data de Nascimento'"
            ></app-date-field>
          }
          <div class="input-group mb-1">
            <div class="form-floating">
              <input
                formControlName="email"
                type="email"
                placeholder="Email"
                class="form-control"
                [class.is-invalid]="isInvalid('email')"
              />
              <label for="email">Email</label>
            </div>
            <div class="input-group-text"><i class="bi bi-envelope"></i></div>
          </div>

          <div class="col-12 col-md-6">
            <div class="input-group">
              <div class="form-floating flex-grow-1">
                <input
                  formControlName="phone"
                  type="text"
                  placeholder="Telefone"
                  class="form-control"
                  mask="(00) 0000-0000"
                  [class.is-invalid]="isInvalid('phone')"
                />
                <label for="phone">Telefone</label>
              </div>
              <div class="input-group-text">
                <i class="bi bi-telephone"></i>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="input-group">
              <div class="form-floating flex-grow-1">
                <input
                  formControlName="mobile"
                  type="text"
                  placeholder="Celular"
                  class="form-control"
                  mask="(00) 0 0000-0000"
                  [class.is-invalid]="isInvalid('mobile')"
                />
                <label for="mobile">Celular</label>
              </div>
              <div class="input-group-text"><i class="bi bi-phone"></i></div>
            </div>
          </div>
        </div>
      </section>
      <hr class="my-3" style="border-top: 1px solid #ddd" />

      <!-- Sessão 2: Endereço (exibe apenas se compact for false) -->
      @if (!compact) {
        <section style="font-size: 0.95em">
          <h5 class="mt-4 mb-2">Endereços</h5>
          <div>
            <div class="row g-1">
              <div class="col-12 col-md-6" *ngFor="let addr of data?.addresses">
                <div class="d-flex align-items-start mb-1">
                  <div>
                    <strong>{{ addr.name }}</strong
                    ><br />
                    <span>{{ addr.address }}</span
                    ><br />
                    <a class="address-link me-2" (click)="editAddress(addr)"
                      >Editar endereço</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <a
              *ngIf="!canDisplayNewAddressLink && !canDisplayAddressForm"
              href="#"
              class="address-link me-3"
              (click)="$event.preventDefault(); displayNewAddress()"
              >Adicionar um novo endereço</a
            >
          </div>
          <app-address-form
            *ngIf="canDisplayAddressForm"
            [formGroup]="addressFormGroup"
            [data]="selectedAddress"
            (save)="saveAddress($event)"
            (cancel)="cancelAddress()"
            [compact]="true"
          ></app-address-form>

          <div class="d-flex justify-content-end mt-3">
            @if (canDisplayAddressButtons) {
              <button
                type="button"
                class="btn btn-secondary me-2"
                (click)="$event.preventDefault(); cancelAddress()"
              >
                Cancelar
              </button>
              <button
                type="submit"
                class="btn btn-success"
                [class.disabled]="!addressFormGroup.valid"
                [attr.aria-disabled]="!addressFormGroup.valid"
                (click)="
                  $event.preventDefault(); saveAddress(addressFormGroup.value)
                "
              >
                Salvar Endereço
              </button>
            } @else if (canDisplayNewAddressLink) {
              <a
                *ngIf="data?.addresses?.length !== 0"
                href="#"
                class="address-link me-3"
                (click)="$event.preventDefault(); cancelAddress()"
                >Cancelar
              </a>

              <a
                id="newAddressLinkButton"
                href="#"
                class="address-link"
                [class.disabled]="!addressFormGroup.valid"
                [attr.aria-disabled]="!addressFormGroup.valid"
                (click)="
                  $event.preventDefault(); saveAddress(addressFormGroup.value)
                "
                >Adicionar um novo endereço</a
              >
            }
          </div>
        </section>
      }
    </div>

    <div
      class="d-flex justify-content-end mt-3"
      *ngIf="!canDisplayAddressButtons"
    >
      <button type="button" class="btn btn-secondary me-2" (click)="doCancel()">
        Cancelar
      </button>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="canDisplayAddressButtons || form.invalid"
      >
        Salvar Cliente
      </button>
    </div>
  </form>
</div>
