@if (mode) {
  <div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
      <main class="form-signin">
        <form
          [formGroup]="form"
          class="form-signin"
          (ngSubmit)="sendEmail()"
          autocomplete="off"
        >
          <div class="text-center mb-4">
            <h1 class="mb-3 font-weight-normal">
              @if (mode.includes("resend-email-confirmation")) {
                <span>{{ 'ACCOUNT.SEND_EMAIL.RESEND_CONFIRMATION' | translate }}</span>
              }
              @if (mode.includes("forgot-username-or-password")) {
                <span>{{ 'ACCOUNT.SEND_EMAIL.RETRIEVE_CREDENTIALS' | translate }}</span>
              }
            </h1>
          </div>
          <div class="form-floating mb-3">
            <input
              formControlName="email"
              type="text"
              [placeholder]="'ACCOUNT.SEND_EMAIL.EMAIL' | translate"
              class="form-control"
              [class.is-invalid]="isInvalid('email')"
            />
            <label for="email">{{ 'ACCOUNT.SEND_EMAIL.EMAIL' | translate }}</label>
            @if (inputHasError("email", "required")) {
              <span class="text-danger">{{
                'ACCOUNT.SEND_EMAIL.EMAIL_REQUIRED' | translate
              }}</span>
            }
            @if (inputHasError("email", "pattern")) {
              <span class="text-danger">{{
                'ACCOUNT.SEND_EMAIL.EMAIL_INVALID' | translate
              }}</span>
            }
          </div>
          @if (errorMessages) {
            <div class="form-floating">
              <app-validation-messages
                [errorMessages]="errorMessages"
              ></app-validation-messages>
            </div>
          }
          <div class="row">
            <div class="col-6">
              <div class="d-grid">
                <button class="btn btn-block btn-success" type="submit">
                  {{ 'ACCOUNT.SEND_EMAIL.SEND' | translate }}
                </button>
              </div>
            </div>
            <div class="col-6">
              <div class="d-grid">
                <button
                  class="btn btn-block btn-danger"
                  type="button"
                  (click)="cancel()"
                >
                  {{ 'COMMON.CANCEL' | translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </main>
    </div>
  </div>
}
