<div class="card">
  <div class="card-header">
    <h3 class="card-title fw-bold">Painel de Vendas</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" (click)="toggleCollapse()">
        <i *ngIf="isCardCollapsed" class="bi bi-plus-lg"></i>
        <i *ngIf="!isCardCollapsed" class="bi bi-dash-lg"></i>
      </button>
    </div>
  </div>
  <apx-chart
    *ngIf="chartOptions && chartOptions.chart && chartOptions.chart.type"
    class="card-body-chart"
    [@cardCollapse]="isCardCollapsed ? 'closed' : 'open'"
    [series]="chartOptions?.series"
    [chart]="chartOptions?.chart"
    [xaxis]="chartOptions?.xaxis"
    [yaxis]="chartOptions?.yaxis"
    [labels]="chartOptions?.labels"
    [stroke]="chartOptions?.stroke"
    [fill]="chartOptions?.fill"
    [dataLabels]="chartOptions?.dataLabels"
    [legend]="chartOptions?.legend"
    [tooltip]="chartOptions?.tooltip"
  ></apx-chart>
</div>
