<app-header
  [title]="
    (isEdit ? 'COMMON.EDIT_ENTITY' : 'COMMON.ADD_ENTITY')
      | translate: { entity: title }
  "
  [navigationMenus]="[
    { label: 'COMMON.HOME' | translate, link: '/home' },
    { label: title, link: '/' + baseEndPoint },
    {
      label:
        (isEdit ? 'COMMON.EDIT_ENTITY' : 'COMMON.ADD_ENTITY')
        | translate: { entity: title },
      link: ''
    },
  ]"
></app-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-secondary card-outline mb-2">
          <div class="card-body box-profile">
            <div class="text-center">
              <app-photo
                [data]="data"
                [entityClass]="'BusinessPartners'"
                [imageUrl]="data?.photo"
              ></app-photo>
              <div class="box-profile" hidden="true">
                <div class="text-center" hidden="true">
                  <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>Followers</b> <a class="float-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                      <b>Following</b> <a class="float-right">543</a>
                    </li>
                    <li class="list-group-item">
                      <b>Friends</b> <a class="float-right">13,287</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card card card-secondary card-outline">
          <div class="card-body">
            <ul class="nav nav-tabs mb-3">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  [class.active]="activeTab === 'details'"
                  (click)="activeTab = 'details'"
                  data-toggle="tab"
                  >{{ 'COMMON.DETAILS' | translate }}</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'address'"
                  (click)="activeTab = 'address'"
                  data-toggle="tab"
                  >{{ 'COMMON.ADDRESS' | translate }}</a
                >
              </li>
              <li *ngIf="canDisplayOrdersTab" class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'orders'"
                  (click)="activeTab = 'orders'"
                  data-toggle="tab"
                  >{{ 'BUSINESS_PARTNER.ORDERS_TAB' | translate }}</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'transaction'"
                  (click)="activeTab = 'transaction'"
                  data-toggle="tab"
                  >{{ 'SIDEBAR.TRANSACTIONS' | translate }}</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'payments'"
                  (click)="activeTab = 'payments'"
                  data-toggle="tab"
                  >{{ 'SIDEBAR.PAYMENTS' | translate }}</a
                >
              </li>
              <li class="nav-item" *ngIf="isEdit">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'attachments'"
                  (click)="activeTab = 'attachments'"
                  data-toggle="tab"
                  >{{ 'COMMON.ATTACHMENTS' | translate }}</a
                >
              </li>
              <li class="nav-item" *ngIf="isEdit && (isAgendaEnabled$ | async)">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'agenda'"
                  (click)="activeTab = 'agenda'"
                  data-toggle="tab"
                  >{{ 'AGENDA.TITLE' | translate }}</a
                >
              </li>
              <li class="nav-item" *ngIf="isEdit">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'audit'"
                  (click)="activeTab = 'audit'"
                  data-toggle="tab"
                  >{{ 'AUDIT.TAB' | translate }}</a
                >
              </li>
            </ul>

            @if (loading) {
              <div class="text-center py-4">{{ 'COMMON.LOADING' | translate }}</div>
            }

            @if (!loading) {
              <div>
                @if (activeTab === "details") {
                  <div>
                    <!-- data-form component: pass compact=true for page -->
                    <app-business-partner-form
                      [isEdit]="isEdit"
                      [data]="data"
                      [compact]="false"
                    ></app-business-partner-form>
                  </div>
                }
                @if (activeTab === "address") {
                  <div>
                    <app-address [parentData]="data"> </app-address>
                  </div>
                }
                @if (activeTab === "orders") {
                  <app-orders
                    [compact]="true"
                    [entity]="'BusinessPartner'"
                    [parentData]="data"
                  ></app-orders>
                }
                @if (activeTab === "transaction") {
                  <app-transactions
                    [compact]="true"
                    [entity]="'BusinessPartner'"
                    [parentData]="data"
                  >
                  </app-transactions>
                }
                @if (activeTab === "payments") {
                  <app-payments
                    [compact]="true"
                    [canAdd]="false"
                    [entity]="'BusinessPartner'"
                    [parentData]="data"
                  ></app-payments>
                }
                @if (activeTab === "attachments") {
                  <app-attachments
                    [entity]="'businessPartner'"
                    [entityId]="data!.id"
                  ></app-attachments>
                }
                @if (activeTab === "agenda") {
                  <app-event-list
                    [entity]="'businessPartner'"
                    [entityId]="data!.id"
                    [entityLabel]="data!.name"
                  ></app-event-list>
                }
                @if (activeTab === "audit") {
                  <app-audit-tab [data]="data"></app-audit-tab>
                }
              </div>
            }
          </div>
        </div>

        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
