<div class="product-form-wrapper" [ngClass]="{ compact: compact }">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-scrollable-area">
      @if (isEdit) {
        <div class="mb-1" hidden>
          <label for="id" class="form-label">Id</label>
          <input id="id" class="form-control" formControlName="id" />
        </div>
      }

      <div class="row g-1 mb-1">
        <div class="col-12 col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="name"
                type="text"
                [placeholder]="'PRODUCTS.PRODUCT_NAME' | translate"
                class="form-control"
                id="name"
                [class.is-invalid]="isInvalid('name')"
                [class.is-valid]="isValid('name')"
              />
              <label for="name">{{ 'PRODUCTS.PRODUCT_NAME' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi-tag"></i></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="sku"
                type="text"
                placeholder="SKU"
                class="form-control"
                id="sku"
                [class.is-invalid]="isInvalid('sku')"
                [class.is-valid]="isValid('sku')"
              />
              <label for="sku">{{ 'PRODUCTS.SKU' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi bi-upc"></i></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating">
              <input
                formControlName="description"
                type="text"
                [placeholder]="'COMMON.DESCRIPTION' | translate"
                class="form-control"
                [class.is-invalid]="isInvalid('description')"
                [class.is-valid]="isValid('description')"
              />
              <label for="description">{{ 'COMMON.DESCRIPTION' | translate }}</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-card-text"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill select-floating">
              <select
                formControlName="category"
                class="form-select"
                id="category"
                [class.is-invalid]="isInvalid('category')"
                [class.is-valid]="isValid('category')"
              >
                <option value="" disabled selected>{{ 'VEHICLES.CATEGORY' | translate }}</option>
                @for (option of categories; track option.id) {
                  <option [value]="option.value">
                    {{ option.value }}
                  </option>
                }
              </select>
              <label for="unit">{{ 'VEHICLES.CATEGORY' | translate }}</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-arrows-move"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill select-floating">
              <select
                formControlName="unit"
                class="form-select"
                id="unit"
                [class.is-invalid]="isInvalid('unit')"
                [class.is-valid]="isValid('unit')"
              >
                <option value="" disabled selected>Unidade de medida</option>
                @for (option of unitOptions; track option) {
                  <option [value]="option.value">
                    {{ option.label }}
                  </option>
                }
              </select>
              <label for="unit">Unidade</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-arrows-move"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill select-floating">
              <select
                formControlName="type"
                class="form-select"
                id="type"
                [class.is-invalid]="isInvalid('type')"
                [class.is-valid]="isValid('type')"
              >
                <option value="" disabled selected>{{ 'COMMON.TYPE' | translate }}</option>
                @for (option of productTypeOptions; track option) {
                  <option [value]="option.value">
                    {{ option.label }}
                  </option>
                }
              </select>
              <label for="type">{{ 'COMMON.TYPE' | translate }}</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-layers"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="priceFormatted"
                type="text"
                [placeholder]="'COMMON.PRICE' | translate"
                class="form-control"
                [class.is-invalid]="isInvalid('priceFormatted')"
                [class.is-valid]="isValid('priceFormatted')"
                (blur)="onPriceBlur()"
              />
              <label for="price">{{ 'COMMON.PRICE' | translate }}</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-cash-coin"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="quantityInStock"
                type="number"
                [placeholder]="'PRODUCTS.QUANTITY_IN_STOCK' | translate"
                class="form-control"
                id="quantityInStock"
                [class.is-invalid]="isInvalid('quantityInStock')"
                [class.is-valid]="isValid('quantityInStock')"
              />
              <label for="quantityInStock">{{ 'PRODUCTS.QUANTITY_IN_STOCK' | translate }}</label>
            </div>
            <div class="input-group-text"><i class="bi bi-box-seam"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-form-cancel me-2" (click)="cancel()"><i class="bi bi-x-lg"></i>{{ 'COMMON.CANCEL' | translate }}</button>
      @if (isEdit) {
        <button (click)="remove()" type="button" class="btn btn-form-remove me-2"><i class="bi bi-trash"></i>{{ 'COMMON.REMOVE' | translate }}</button>
      }
      <button
        [appClick]="submit.bind(this)"
        type="submit"
        class="btn btn-form-save"
      >
        <i class="bi bi-check-lg"></i>{{ (isEdit ? 'COMMON.SAVE' : 'COMMON.ADD') | translate }}
      </button>
    </div>
  </form>
</div>
