<div class="product-form-wrapper" [ngClass]="{ compact: compact }">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-body">
      @if (isEdit) {
        <div class="mb-3" hidden>
          <label for="id" class="form-label">Id</label>
          <input id="id" class="form-control" formControlName="id" />
        </div>
      }

      <div class="row g-2 mb-3">
        <div class="col-12 col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="name"
                type="text"
                placeholder="Name"
                class="form-control"
                id="name"
                [class.is-invalid]="isInvalid('name')"
                [class.is-valid]="isValid('name')"
              />
              <label for="name">Name</label>
            </div>
            <div class="input-group-text"><i class="bi bi-person"></i></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="sku"
                type="text"
                placeholder="SKU"
                class="form-control"
                id="sku"
                [class.is-invalid]="isInvalid('sku')"
                [class.is-valid]="isValid('sku')"
              />
              <label for="sku">SKU</label>
            </div>
            <div class="input-group-text"><i class="bi bi-person"></i></div>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="form-floating flex-fill">
          <textarea
            formControlName="description"
            placeholder="Description"
            class="form-control"
            id="description"
          ></textarea>
          <label for="description">Description</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-3">
          <div class="form-floating flex-fill select-floating">
            <select
              formControlName="unit"
              class="form-select"
              id="unit"
              [class.is-invalid]="isInvalid('unit')"
              [class.is-valid]="isValid('unit')"
            >
              >
              <option value="None" disabled selected>None</option>
              @for (option of unitOptions; track option) {
                <option [value]="option.value">
                  {{ option.label }}
                </option>
              }
            </select>

            <label for="unit">Unit</label>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="priceFormatted"
                type="text"
                placeholder="Price"
                class="form-control"
                [class.is-invalid]="isInvalid('priceFormatted')"
                [class.is-valid]="isValid('priceFormatted')"
                (blur)="onPriceBlur()"
              />
              <label for="price">Price</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-cash-coin"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="quantityInStock"
                type="number"
                placeholder="Quantity"
                class="form-control"
                id="quantityInStock"
                [class.is-invalid]="isInvalid('quantityInStock')"
                [class.is-valid]="isValid('quantityInStock')"
              />
              <label for="quantityInStock">Quantity</label>
              <!-- <span
                  *ngIf="isInvalid('quantityInStock')" class="text-danger">
                  Quantity is required
                </span> -->
            </div>

            <div class="input-group-text"><i class="bi bi-person"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-secondary me-2" (click)="doCancel()">
        Cancel
      </button>
      <button type="submit" class="btn btn-success" [disabled]="form.invalid">
        Save
      </button>
    </div>
  </form>
</div>
