<div class="product-form-wrapper" [ngClass]="{ compact: compact }">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-scrollable-area">
      @if (isEdit) {
        <div class="mb-1" hidden>
          <label for="id" class="form-label">Id</label>
          <input id="id" class="form-control" formControlName="id" />
        </div>
      }

      <div class="row g-1 mb-1">
        <div class="col-12 col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="name"
                type="text"
                placeholder="Nome do Produto"
                class="form-control"
                id="name"
                [class.is-invalid]="isInvalid('name')"
                [class.is-valid]="isValid('name')"
              />
              <label for="name">Nome do Produto</label>
            </div>
            <div class="input-group-text"><i class="bi bi-tag"></i></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="sku"
                type="text"
                placeholder="SKU"
                class="form-control"
                id="sku"
                [class.is-invalid]="isInvalid('sku')"
                [class.is-valid]="isValid('sku')"
              />
              <label for="sku">SKU</label>
            </div>
            <div class="input-group-text"><i class="bi bi bi-upc"></i></div>
          </div>
        </div>
      </div>

      <div class="input-group mb-1">
        <div class="form-floating flex-fill">
          <textarea
            formControlName="description"
            placeholder="Descrição"
            class="form-control"
            id="description"
          ></textarea>
          <label for="description">Descrição</label>
        </div>

        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill select-floating">
              <select
                formControlName="unit"
                class="form-select"
                id="unit"
                [class.is-invalid]="isInvalid('unit')"
                [class.is-valid]="isValid('unit')"
              >
                <option value="" disabled selected>Unidade de medida</option>
                @for (option of unitOptions; track option) {
                  <option [value]="option.value">
                    {{ option.label }}
                  </option>
                }
              </select>
              <label for="unit">Unidade</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-arrows-move"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill select-floating">
              <select
                formControlName="type"
                class="form-select"
                id="type"
                [class.is-invalid]="isInvalid('type')"
                [class.is-valid]="isValid('type')"
              >
                <option value="" disabled selected>Tipo</option>
                @for (option of productTypeOptions; track option) {
                  <option [value]="option.value">
                    {{ option.label }}
                  </option>
                }
              </select>
              <label for="type">Tipo</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-layers"></i>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="priceFormatted"
                type="text"
                placeholder="Preço"
                class="form-control"
                [class.is-invalid]="isInvalid('priceFormatted')"
                [class.is-valid]="isValid('priceFormatted')"
                (blur)="onPriceBlur()"
              />
              <label for="price">Preço</label>
            </div>
            <div class="input-group-text">
              <i class="bi bi-cash-coin"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="quantityInStock"
                type="number"
                placeholder="Quantidade em Estoque"
                class="form-control"
                id="quantityInStock"
                [class.is-invalid]="isInvalid('quantityInStock')"
                [class.is-valid]="isValid('quantityInStock')"
              />
              <label for="quantityInStock">Quantidade em Estoque</label>
            </div>
            <div class="input-group-text"><i class="bi bi-box-seam"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-secondary me-2" (click)="doCancel()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-success" [disabled]="form.invalid">
        Salvar
      </button>
    </div>
  </form>
</div>
