<app-header
  [title]="isEdit ? 'Editar Produto' : 'Adicionar Produto'"
  [navigationMenus]="[
    { label: 'Home', link: '/home' },
    { label: 'Produtos', link: '/products' },
    { label: isEdit ? 'Editar Produto' : 'Adicionar Produto', link: '' },
  ]"
></app-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-secondary card-outline mb-2">
          <div class="card-body box-profile">
            <div class="text-center">
              <app-photo
                [data]="data"
                [imageUrl]="data?.photo"
                [entityClass]="'Product'"
              ></app-photo>
              <div class="box-profile">
                <div class="text-center">
                  <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>Tipo: </b>
                      <a class="float-right">{{ getProductTypeLabel() }}</a>
                    </li>
                    <li class="list-group-item">
                      <b>Quantidade disponível: </b>
                      <a class="float-right">{{ data?.quantityInStock }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card card card-secondary card-outline">
          <div class="card-body">
            <ul class="nav nav-tabs mb-3">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  [class.active]="activeTab === 'details'"
                  (click)="activeTab = 'details'"
                  data-toggle="tab"
                  >Detalhes</a
                >
              </li>
              <!-- TODO: temporaly disabled -->
              <li class="nav-item" hidden>
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'image'"
                  (click)="activeTab = 'image'"
                  data-toggle="tab"
                  >Fotos</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="activeTab === 'history'"
                  (click)="activeTab = 'history'"
                  data-toggle="tab"
                  >Histórico</a
                >
              </li>
            </ul>

            @if (loading) {
              <div class="text-center py-4">Loading...</div>
            }

            @if (!loading) {
              <div>
                @if (activeTab === "details") {
                  <div>
                    <!-- data-form component: pass compact=true for page -->
                    <app-product-form
                      [isEdit]="isEdit"
                      [data]="data"
                      [compact]="true"
                      (save)="save($event)"
                      (cancel)="cancel()"
                    ></app-product-form>
                  </div>
                }
                @if (activeTab === "image") {
                  <div>
                    <app-photo
                      [data]="data"
                      [imageUrl]="data?.photo"
                      [entityClass]="'Product'"
                    ></app-photo>
                  </div>
                }
                @if (activeTab === "history") {
                  <div>
                    <app-order-products
                      [compact]="true"
                      [parentId]="data?.id"
                      [isFromProductsView]="true"
                    ></app-order-products>
                  </div>
                }
              </div>
            }
          </div>
        </div>

        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
