<div class="order-form-wrapper custom-modal">
  @if (isEdit) {
    <app-alert-banner-component
      [status]="data?.status"
      [entity]="'Pedido'"
    ></app-alert-banner-component>
  }
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-scrollable-area">
      <section>
        <div class="row g-1 mb-1">
          <div *ngIf="isEdit" class="col-12 col-md-4">
            <div class="input-group">
              <div class="form-floating">
                <input
                  formControlName="orderNumber"
                  type="text"
                  placeholder="Order Number"
                  class="form-control"
                  [class.is-invalid]="isInvalid('orderNumber')"
                  [class.is-valid]="isValid('orderNumber')"
                />
                <label for="orderNumber">Order Number</label>
              </div>
              <div class="input-group-text"><i class="bi bi-hash"></i></div>
            </div>
          </div>

          <div class="col-12" [ngClass]="isEdit ? 'col-md-8' : 'col-md-12'">
            <div class="input-group">
              <div class="form-floating">
                @if (!isEdit) {
                  <input
                    type="text"
                    formControlName="businessPartnerName"
                    class="form-control"
                    [matAutocomplete]="auto"
                    #firstInput
                    [class.is-invalid]="isInvalid('businessPartnerName')"
                    placeholder="Cliente"
                    (blur)="onClientBlur()"
                  />
                  <label for="businessPartnerName">Cliente</label>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option
                      *ngFor="
                        let businessPartner of filteredBusinessPartners$ | async
                      "
                      [value]="businessPartner.name"
                    >
                      {{ businessPartner.name }}
                    </mat-option>
                  </mat-autocomplete>
                } @else {
                  <app-link-field
                    [placeHolder]="'Cliente'"
                    [text]="form.get('businessPartnerName')?.value || 'Cliente'"
                    [linkUrl]="[
                      '/clients',
                      form.get('businessPartnerId')?.value,
                    ]"
                  >
                  </app-link-field>
                }
              </div>
              <div class="input-group-text"><i class="bi bi-building"></i></div>
            </div>
          </div>

          <div *ngIf="!compact" class="col-12">
            <div class="input-group">
              <div class="form-floating">
                <input
                  formControlName="description"
                  type="text"
                  placeholder="Description"
                  class="form-control"
                  [class.is-invalid]="isInvalid('description')"
                  [class.is-valid]="isValid('description')"
                />
                <label for="description">Description</label>
              </div>
              <div class="input-group-text">
                <i class="bi bi-card-text"></i>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <app-date-field
              formControlName="date"
              [label]="'Data do Pedido'"
            ></app-date-field>
          </div>

          <div class="col-12 col-md-5">
            <div class="input-group">
              <div class="form-floating flex-fill">
                <select
                  formControlName="status"
                  class="form-select"
                  [class.is-invalid]="isInvalid('status')"
                  [class.is-valid]="isValid('status')"
                >
                  <option
                    *ngFor="let s of orderStatusOptions"
                    [value]="s.value"
                  >
                    {{ s.label }}
                  </option>
                </select>
                <label for="status">Status</label>
              </div>
              <div class="input-group-text">
                <i class="bi bi-info-circle"></i>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-3">
            <div class="input-group">
              <div class="form-floating flex-fill">
                <input
                  formControlName="discount"
                  type="number"
                  min="0"
                  max="100"
                  placeholder="Desconto"
                  class="form-control"
                  [class.is-invalid]="isInvalid('discount')"
                  [class.is-valid]="isValid('discount')"
                />
                <label for="discount">Desconto</label>
              </div>
              <div class="input-group-text"><i class="bi bi-percent"></i></div>
            </div>
          </div>

          <div class="col-6">
            <div class="input-group">
              <div class="form-floating">
                <input
                  formControlName="priceFormatted"
                  type="text"
                  placeholder="Preço"
                  class="form-control"
                  [class.is-invalid]="isInvalid('priceFormatted')"
                  [class.is-valid]="isValid('priceFormatted')"
                />
                <label for="price">Preço</label>
              </div>
              <div class="input-group-text">
                <i class="bi bi-cash-coin"></i>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="input-group">
              <div class="form-floating">
                <input
                  formControlName="totalPriceFormatted"
                  type="text"
                  placeholder="Preço Total"
                  class="form-control"
                  [class.is-invalid]="isInvalid('totalPriceFormatted')"
                  [class.is-valid]="isValid('totalPriceFormatted')"
                />
                <label for="totalPrice">Preço Total</label>
              </div>
              <div class="input-group-text">
                <i class="bi bi-cash-coin"></i>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Tabela de produtos do pedido -->
      <section *ngIf="!isEdit" class="order-products-table mt-2">
        <h5 class="">Produtos</h5>
        <!-- <h5>Produtos</h5>
      <hr /> -->
        <table class="table">
          <thead>
            <tr>
              <th class="table-header-title" scope="col">SKU</th>
              <th class="table-header-title" scope="col">Nome</th>
              <th class="table-header-title" scope="col">Preço</th>
              <th class="table-header-title" scope="col">Qtd</th>
              <th class="" scope="col" style="width: 40px">
                <a class="address-link" (click)="openOrderProductsModal()">
                  Adicionar
                </a>
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider table-body">
            <tr *ngFor="let item of data?.orderProducts; let i = index">
              <td class="table-cell-info">{{ item.productSku }}</td>
              <td class="table-cell-info">{{ item.productName }}</td>
              <td class="table-cell-info">
                R$ {{ item.totalPrice | number: "1.2-2" }}
              </td>
              <td class="table-cell-info">{{ item.quantity }}</td>
              <td class="table-cell-info">
                <button
                  type="button"
                  class="btn btn-link p-0 text-danger"
                  title="Remover"
                  (click)="removeProduct(i)"
                >
                  <i class="bi bi-trash"></i>
                  <!-- Remover -->
                </button>
              </td>
            </tr>
            <tr
              *ngIf="!data?.orderProducts || data?.orderProducts?.length === 0"
            >
              <td colspan="5" class="text-center text-muted small py-3">
                Nenhum produto adicionado
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <section>
        @if (canDisplayTransactionForm) {
          <app-transaction-form
            [isEdit]="isEdit"
            [formGroup]="transactionFormGroup"
            [compact]="true"
            [data]="data?.transaction"
          ></app-transaction-form>
        } @else {
          <div [ngClass]="'callout callout-success mb-2'">
            <i class="fas fa-check"></i>
            Excelente! Cliente informado já tem pagamento antecipado!
          </div>
        }
      </section>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-secondary me-2" (click)="doCancel()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>
  </form>
</div>
