@if (success) {
  <div>
    <ng-container *ngTemplateOutlet="successTemplate"></ng-container>
  </div>
} @else {
  @if (!success) {
    <div class="container text-center">
      <a class="btn btn-link" (click)="resendEmailConfirmation()">
        <i class="fa fa-envelope"></i> Resend Email Confirmation
      </a>
    </div>
  }
}

<ng-template #successTemplate>
  @if (success) {
    <div class="container text-center">
      <a class="btn btn-primary" routerLink="/account/login">
        <i class="fa fa-arrow-left"></i> Login
      </a>
    </div>
  }
</ng-template>
