<div class="d-flex flex-wrap justify-content-between mb-3">
  <div class="col-12 col-md-6">
    <div class="input-group">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="gridSearchInput"
          placeholder="{{ 'COMMON.SEARCH' | translate }} {{ className | lowercase }}..."
          (input)="onFilterTextBoxChanged($event)"
        />
        <label for="gridSearchInput"
          >{{ 'COMMON.SEARCH' | translate }} {{ className | lowercase }}...</label
        >
        <span
          class="position-absolute top-50 end-0 translate-middle-y me-3 text-secondary grid-search-icon"
        >
        </span>
      </div>
      <div class="input-group-text"><i class="bi bi-search"></i></div>
    </div>
  </div>
  <div class="d-flex gap-2 align-items-center mt-3 mt-md-0">
    <button
      *ngIf="filtersTemplate"
      class="btn btn-outline-primary"
      [ngClass]="showFilters ? 'active' : ''"
      (click)="toggleFilters()"
    >
      <i class="bi bi-funnel"></i> {{ 'GRID.FILTERS' | translate }}
    </button>
    <button class="btn btn-secondary" (click)="refresh()">
      <i class="bi bi-arrow-clockwise"></i>
      {{ 'GRID.REFRESH' | translate }}
    </button>
    <ng-container
      *ngIf="extraActionsTemplate"
      [ngTemplateOutlet]="extraActionsTemplate"
    ></ng-container>
    <button *ngIf="canAdd" class="btn btn-success" (click)="openAddModal()">
      <i class="bi bi-plus-lg"></i>
      {{ 'COMMON.ADD' | translate }}
    </button>
  </div>
</div>
<div [@cardCollapse]="showFilters ? 'open' : 'closed'">
  <ng-container *ngIf="filtersTemplate">
    <ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>
  </ng-container>
</div>

<div class="grid-host" [ngClass]="{ 'compact-view': compactView }">
  <ag-grid-angular
    class="ag-theme-alpine grid-full"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="10"
    [paginationPageSizeSelector]="[10, 20, 50, 100]"
    [animateRows]="true"
    [overlayNoRowsTemplate]="noRowsOverlayTemplate"
    [localeText]="localeText"
    [quickFilterText]="quickFilter"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
    (rowDoubleClicked)="onRowDoubleClicked($event)"
    (firstDataRendered)="onFirstDataRendered($event)"
  >
  </ag-grid-angular>
</div>
