<div class="modal-header">
  <h5 class="modal-title">{{ (isEdit ? 'VEHICLES.EDIT_REFUEL' : 'VEHICLES.NEW_REFUEL') | translate }}</h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-scrollable-area">
    <div class="row g-2">
      <div class="col-12 col-md-6">
        <app-date-field formControlName="date" [label]="'COMMON.DATE' | translate"></app-date-field>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="odometer"
              type="number"
              min="0"
              [placeholder]="'VEHICLES.ODOMETER' | translate"
              class="form-control"
              id="fuelLogModalOdometer"
            />
            <label for="fuelLogModalOdometer">{{ 'VEHICLES.ODOMETER' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-speedometer2"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="liters"
              type="number"
              min="0"
              step="0.01"
              [placeholder]="'VEHICLES.LITERS' | translate"
              class="form-control"
              id="fuelLogModalLiters"
            />
            <label for="fuelLogModalLiters">{{ 'VEHICLES.LITERS' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-droplet"></i></div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="pricePerLiter"
              type="number"
              min="0"
              step="0.01"
              [placeholder]="'VEHICLES.PRICE_PER_LITER' | translate"
              class="form-control"
              id="fuelLogModalPricePerLiter"
            />
            <label for="fuelLogModalPricePerLiter">{{ 'VEHICLES.PRICE_PER_LITER' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-cash-coin"></i></div>
        </div>
      </div>
      <div class="col-12">
        <div class="input-group">
          <div class="form-floating flex-fill">
            <input
              formControlName="gasStation"
              type="text"
              [placeholder]="'VEHICLES.GAS_STATION' | translate"
              class="form-control"
              id="fuelLogModalGasStation"
            />
            <label for="fuelLogModalGasStation">{{ 'VEHICLES.GAS_STATION' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-fuel-pump"></i></div>
        </div>
      </div>
    </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-secondary btn-sm me-2" (click)="close()">{{ 'COMMON.CANCEL' | translate }}</button>
      <button type="submit" class="btn btn-success btn-sm" [disabled]="saving">
        {{ (isEdit ? 'COMMON.SAVE' : 'COMMON.ADD') | translate }}
      </button>
    </div>
  </form>
</div>
