<div class="modal-header bg-danger">
  <h5 class="modal-title pull-left">{{ title }}</h5>
  <button
    type="button"
    class="btn-close close pull-right"
    (click)="modalService.hideModal()"
  ></button>
</div>
<div class="modal-body">
  {{ message }}
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modalService.hideModal()"
  >
    Cancelar
  </button>
  <button
    type="button"
    class="btn btn-outline-danger"
    (click)="confirmDelete()"
  >
    Excluir
  </button>
</div>
