<app-header
  *ngIf="!compact"
  title="Pagamentos"
  [navigationMenus]="[
    { label: 'Home', link: '/home' },
    { label: 'Pagamentos', link: '' },
  ]"
></app-header>

<div class="app-content">
  <app-grid
    [className]="'Pagamentos'"
    [compactView]="compact"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [baseEndPoint]="baseEndPoint"
    [canAdd]="canAdd"
    [refresh]="refreshOrders.bind(this)"
    [delete]="deleteOrder.bind(this)"
    (openModal)="onOpenModal($event)"
  ></app-grid>
</div>
