<app-header
  *ngIf="!compact"
  [title]="'QUOTES.QUOTE_PRODUCTS_TITLE' | translate"
  [navigationMenus]="[
    { label: 'COMMON.HOME' | translate, link: '/home' },
    { label: 'QUOTES.QUOTE_PRODUCTS_TITLE' | translate, link: '' },
  ]"
></app-header>

<div class="app-content">
  <app-grid
    [compactView]="compact"
    [className]="'QUOTES.QUOTE_PRODUCTS_TITLE' | translate"
    [rowData]="filteredRowData"
    [columnDefs]="columnDefs"
    [baseEndPoint]="baseEndPoint"
    [refresh]="refreshQuoteProducts.bind(this)"
    [delete]="deleteQuoteProduct.bind(this)"
    (openModal)="openModal($event)"
    [canAdd]="!isFullList"
  ></app-grid>
</div>
