<app-header
  *ngIf="!compact"
  [title]="'SIDEBAR.TRANSACTIONS' | translate"
  [navigationMenus]="[
    { label: 'COMMON.HOME' | translate, link: '/home' },
    { label: 'SIDEBAR.TRANSACTIONS' | translate, link: '' },
  ]"
></app-header>

<div class="app-content">
  <app-grid
    [compactView]="compact"
    [className]="'SIDEBAR.TRANSACTIONS' | translate"
    [rowData]="filteredRowData"
    [columnDefs]="columnDefs"
    [baseEndPoint]="baseEndPoint"
    [refresh]="refreshTransactions.bind(this)"
    [delete]="deleteTransaction.bind(this)"
    (openModal)="openModal($event)"
    [filtersTemplate]="filtersTpl"
    [showFilters]="showFiltersOnInit"
  ></app-grid>

  <ng-template #filtersTpl>
    <div class="row g-2 mb-2 flex-column flex-md-row">
      <div class="date-filter-area col-12 col-md-auto">
        <app-date-field
          [(ngModel)]="filterStartDate"
          (ngModelChange)="applyFilters()"
          [label]="'COMMON.RANGE_START' | translate"
        ></app-date-field>
      </div>
      <div class="date-filter-area col-12 col-md-auto mb-1 mb-md-0">
        <app-date-field
          [(ngModel)]="filterEndDate"
          (ngModelChange)="applyFilters()"
          [label]="'COMMON.RANGE_END' | translate"
        ></app-date-field>
      </div>
      <div class="col-12 col-md-auto ms-md-2">
        <div class="filter-group-box position-relative mb-2 mb-md-0">
          <span class="filter-group-label">{{ 'COMMON.STATUS' | translate }}</span>
          <div class="d-flex flex-wrap align-items-center pt-2 gap-2">
            <label class="form-check-label ms-2">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="filterStatus.Approved"
                (change)="applyFilters()"
              />
              {{ 'REPORTS.STATUS_PAID' | translate }}
            </label>
            <label class="form-check-label ms-2">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="filterStatus.Pending"
                (change)="applyFilters()"
              />
              {{ 'REPORTS.STATUS_OPEN' | translate }}
            </label>
            <label class="form-check-label ms-2">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="filterStatus.Delayed"
                (change)="applyFilters()"
              />
              {{ 'REPORTS.STATUS_DELAYED' | translate }}
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-auto">
        <div class="filter-group-box position-relative mb-2 mb-md-0">
          <span class="filter-group-label">{{ 'COMMON.TYPE' | translate }}</span>
          <div class="d-flex flex-wrap align-items-center pt-2 gap-2">
            <label class="form-check-label ms-2">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="filterType.Incoming"
                (change)="applyFilters()"
              />
              {{ 'REPORTS.INCOMING' | translate }}
            </label>
            <label class="form-check-label ms-2">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="filterType.Outgoing"
                (change)="applyFilters()"
              />
              {{ 'REPORTS.OUTGOING' | translate }}
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-auto d-flex align-items-end">
        <button class="btn btn-secondary btn-sm w-100" (click)="clearFilters()">
          <i class="bi bi-x-circle"></i> {{ 'COMMON.CLEAR' | translate }}
        </button>
      </div>
    </div>
  </ng-template>
</div>
