<app-header
  [title]="'NOT_FOUND.TITLE' | translate"
  [navigationMenus]="[
    { label: 'COMMON.HOME' | translate, link: '/home' },
    { label: 'NOT_FOUND.TITLE' | translate, link: '' }
  ]"
></app-header>

<section class="content">
  <div class="error-page">
    <h2 class="headline text-danger">404</h2>

    <div class="error-content">
      <h3>
        <i class="fas fa-exclamation-triangle text-danger"></i> {{
          'NOT_FOUND.OOPS' | translate
        }}
      </h3>

      <p>
        {{ 'NOT_FOUND.MESSAGE' | translate }}
        <a routerLink="/">{{ 'NOT_FOUND.RETURN_TO_DASHBOARD' | translate }}</a>
      </p>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
