<div class="passenger-list">
  <app-grid
    [className]="'TRIPS.PASSENGERS_TAB' | translate"
    [compactView]="true"
    [rowData]="rowData"
    [loading]="loading"
    [columnDefs]="columnDefs"
    [canAdd]="true"
    [refresh]="refresh.bind(this)"
    [update]="noop.bind(this)"
    [delete]="deletePassenger.bind(this)"
    [extraActionsTemplate]="extraActions"
    (openModal)="openModal($event)"
  ></app-grid>
</div>

<ng-template #extraActions>
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="openImportModal()">
    <i class="bi bi-upload"></i> {{ 'TRIPS.IMPORT' | translate }}
  </button>
</ng-template>
