<div class="modal-header">
  <h5 class="modal-title">
    {{ isEdit ? "Editar Produto do Pedido" : "Adicionar Produto ao Pedido" }}
  </h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
  <app-order-products-form
    [isEdit]="isEdit"
    [data]="data"
    [parentId]="parentId"
    [parentData]="parentData"
    (save)="save($event)"
    (cancel)="close()"
    [compact]="false"
    [errors]="errorMessages"
  ></app-order-products-form>
</div>
