<app-header
  [title]="'SIDEBAR.USERS' | translate"
  [navigationMenus]="[
    { label: 'COMMON.HOME' | translate, link: '/home' },
    { label: 'SIDEBAR.USERS' | translate, link: '' },
  ]"
></app-header>

<div class="app-content">
  <app-grid
    [baseEndPoint]="baseEndPoint"
    [className]="'SIDEBAR.USERS' | translate"
    [rowData]="rowData"
    [loading]="loading"
    [columnDefs]="columnDefs"
    [refresh]="refreshUsers.bind(this)"
    [delete]="deleteUser.bind(this)"
    (openModal)="openModal($event)"
  ></app-grid>
</div>
