<div class="user-form-wrapper" [ngClass]="{ compact: compact }">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-scrollable-area">
      <div class="row g-1 mb-1">
        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="firstName"
                type="text"
                placeholder="First name"
                class="form-control"
                [class.is-invalid]="isInvalid('firstName')"
              />
              <label for="firstName">Nome</label>
              @if (inputHasError("firstName", "required")) {
                <span class="text-danger">Nome é obrigatório</span>
              }
              @if (
                inputHasError("firstName", "minlength") ||
                inputHasError("firstName", "maxlength")
              ) {
                <span class="text-danger"
                  >Nome deve ter no mínimo 3 e no máximo 15 caracteres
                </span>
              }
            </div>
            <div class="input-group-text"><i class="bi bi-person"></i></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <input
                formControlName="lastName"
                type="text"
                placeholder="Last name"
                class="form-control"
                [class.is-invalid]="isInvalid('lastName')"
              />
              <label for="lastName">Sobrenome</label>
              @if (inputHasError("lastName", "required")) {
                <span class="text-danger">Sobrenome é obrigatório</span>
              }
              @if (
                inputHasError("lastName", "minlength") ||
                inputHasError("lastName", "maxlength")
              ) {
                <span class="text-danger"
                  >Sobrenome deve ter no mínimo 3 e no máximo 30 caracteres
                </span>
              }
            </div>
            <div class="input-group-text"><i class="bi bi-person"></i></div>
          </div>
        </div>

        <div class="col-12">
          <div class="input-group">
            <div class="form-floating flex-fill">
              <select formControlName="role" class="form-select">
                <option *ngFor="let opt of roleOptions" [value]="opt.value">
                  {{ opt.label }}
                </option>
              </select>
              <label for="role">Perfil</label>
            </div>
            <div class="input-group-text"><i class="bi bi-key-fill"></i></div>
          </div>
        </div>
        <div class="col-12">
          <div class="input-group">
            <div class="form-floating">
              <input
                formControlName="email"
                type="text"
                placeholder="Email"
                class="form-control"
                [class.is-invalid]="isInvalid('email')"
                [class.disabled]="isEdit"
                [readonly]="isEdit"
              />
              <label for="email">Email</label>
              @if (inputHasError("email", "required")) {
                <span class="text-danger">Email é obrigatório</span>
              }
              @if (inputHasError("email", "pattern")) {
                <span class="text-danger">Endereço de email inválido </span>
              }
            </div>
            <div class="input-group-text"><i class="bi bi-envelope"></i></div>
          </div>
        </div>
        <div class="col-12">
          @if (isEdit) {
            <div class="col-12 d-flex align-items-center gap-2">
              @if (isEdit) {
                <div class="input-group">
                  <span class="input-group-text"
                    ><i class="bi bi-shield-check"></i
                  ></span>
                  <div
                    class="form-control bg-light d-flex align-items-center justify-content-between"
                  >
                    <span>Email confirmado</span>
                    <input
                      class="form-check-input ms-2"
                      type="checkbox"
                      formControlName="emailConfirmed"
                      style="margin: 0"
                    />
                  </div>
                </div>
              }
            </div>
          }
        </div>
        <div class="col-12">
          @if (!isEdit) {
            <div class="input-group">
              <div class="form-floating">
                <input
                  formControlName="password"
                  type="password"
                  placeholder="Senha"
                  class="form-control"
                  [class.is-invalid]="isInvalid('password')"
                />
                <label for="password">Senha</label>
                @if (inputHasError("password", "required")) {
                  <span class="text-danger">Senha é obrigatória </span>
                }
                @if (
                  inputHasError("password", "minlength") ||
                  inputHasError("password", "maxlength")
                ) {
                  <span class="text-primary"
                    >A senha precisa ter no mínimo 6 e no máximo 15 caracteres.
                  </span>
                }
              </div>
              <div class="input-group-text">
                <i class="bi bi-lock-fill"></i>
              </div>
            </div>
          }
        </div>
      </div>

      @if (errors) {
        <div class="form-floating">
          <app-validation-messages
            [errorMessages]="errors"
          ></app-validation-messages>
        </div>
      }
    </div>

    <div
      class="d-flex flex-column flex-md-row justify-content-between gap-2 mt-3"
    >
      <div class="d-flex flex-column flex-sm-row gap-2">
        @if (isEdit && form.get("emailConfirmed")?.value === false) {
          <button
            class="btn btn-primary"
            type="button"
            (click)="resendEmailConfirmation()"
          >
            Reenviar e-mail de confirmação
          </button>
        }
        @if (isEdit) {
          <button
            class="btn btn-primary"
            type="button"
            (click)="forgotPassword()"
          >
            Redefinir Senha
          </button>
        }
      </div>

      <div class="d-flex flex-column flex-sm-row gap-2">
        <button type="button" class="btn btn-secondary" (click)="doCancel()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
    </div>
  </form>
</div>
