<app-header
  *ngIf="!compact"
  [title]="'VEHICLES.REFUELINGS' | translate"
  [navigationMenus]="[
    { label: 'COMMON.HOME' | translate, link: '/home' },
    { label: 'VEHICLES.REFUELINGS' | translate, link: '' },
  ]"
></app-header>

<div [class.app-content]="!compact">
  <app-grid
    [compactView]="compact"
    [className]="'VEHICLES.REFUELINGS' | translate"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [baseEndPoint]="baseEndPoint"
    [canAdd]="!!vehicleId"
    [refresh]="refresh.bind(this)"
    [delete]="removeFuelLog.bind(this)"
    (openModal)="openModal($event)"
  ></app-grid>
</div>
